<mat-card>

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div class="message">
        <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
        <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
    </div>

    <div *ngIf="loaded">
        <div fxFlex></div>
        <div class="top-buttons" *ngIf="pageAct == 'view'">
            <a [routerLink]="['/security/groups']" mat-icon-button>
                <mat-icon matTooltip="Edit">list</mat-icon>
            </a>
            <a [routerLink]="['/security/groups/update', group.id]" mat-icon-button>
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
            <a mat-icon-button (click)="delete(group.id)" matTooltip="delete">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
    </div>

    <mat-card-content *ngIf="loaded">
        <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.name" formControlName="name">
                </mat-form-field>

            </div>

            <div *ngIf="pageAct != 'view'">
                <button mat-raised-button type="submit" color="primary">Save</button>
                <a *ngIf="pageAct == 'add'" color="accent" mat-raised-button [routerLink]="['/security/groups']">Cancel</a>
                <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/security/groups/view', group.id]">Cancel</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>