<shared-overlay *ngIf="!loaded"> </shared-overlay>
<div class="message">
    <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
    <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
</div>
<div *ifPermitted="'WFStates.findById'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            {{data.type}}
        </div>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.state" #message maxlength=30 formControlName="state">
                    <mat-hint align="end">{{message.value.length}} / 30</mat-hint>
                    <mat-error *ngIf="fg.get('state').hasError('required')">ID is required.</mat-error>
                    <mat-error *ngIf="fg.get('state').hasError('exist') ">Record already Exists.</mat-error>
                    <mat-error *ngIf="fg.get('state').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.title" #title maxlength=50 formControlName="title">
                    <mat-hint align="end">{{title.value.length}} / 50</mat-hint>
                    <mat-error *ngIf="fg.get('title').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                </mat-form-field>

            </div>

            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="100">
                    <textarea matInput [placeholder]="componentLabels.description" rows="5" formControlName="description"></textarea>
                </mat-form-field>
            </div>

            <div *ifPermitted="'WFStates.create'">
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                <a color="accent" mat-raised-button (click)="onNoClick()">Cancel</a>
            </div>
        </form>

    </div>
</div>