<shared-overlay *ngIf="!loaded"></shared-overlay>



<div>


  <div *ngIf="loaded">
    <div>
      <!-- <mat-card fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="end" class="edit-button">
            <a [routerLink]="['/institute/dashboard/update']" mat-icon-button>
              <mat-icon matTooltip="View">edit</mat-icon>
            </a>
          </div>
          <div fxLayout="row" fxLayoutAlign="space-between " fxFlex="100">
            <div fxFlex=100>
              <mat-card-header>
                <mat-card-title>
                  <h1 class="heading">
                    {{institute.name}}
                  </h1>
                </mat-card-title>
                <mat-card-subtitle>Established Since {{institute.establishedScince}}</mat-card-subtitle>

              </mat-card-header>

              <mat-card-content>
                <div fxLayout="row">
                  <div fxFlex="15" class="sub-heading">Head Office:</div>
                  <div>{{institute.headOfficeLocation}}</div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="15" class="sub-heading">Focal Person:</div>
                  <div>{{institute.focalPerson}}</div>
                </div>
                <div fxLayout="row">
                  <div fxFlex="15" class="sub-heading">Contact No:</div>
                  <div></div>
                </div>
                <div fxLayout="column">
                  <div fxFlex="15" class="sub-heading">Description:</div>
                  <div fxFlex="50" class="content">
                    {{institute.Description}}
                  </div>
                </div>

               

              </mat-card-content>
            </div>

            <div fxFlex=40>

              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" (mapClick)="mapClicked($event)">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>


            </div>
          </div>


        </mat-card> -->
      <mat-card class="mcard">
        <div>
          <mat-card-title class="mc-title"> {{institute.name}}
          </mat-card-title>
          <mat-card-subtitle>Established Since {{institute.establishedScince}}</mat-card-subtitle>
          <div class="mc-action-btn">
            <a *ifPermitted="'institutes.update'" [routerLink]="['/institute/dashboard/update']" mat-icon-button>
              <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>

          </div>
        </div>
        <mat-card-content>
          <div fxLayout="row">
            <div fxFlex="50">
              <div fxLayout="row">
                <div fxFlex="20" class="sub-heading">Head Office:</div>
                <div>{{institute.headOfficeLocation}}</div>
              </div>
              <div fxLayout="row">
                <div fxFlex="20" class="sub-heading">Focal Person:</div>
                <div>{{institute.focalPerson}}</div>
              </div>
              <div fxLayout="row">
                <div fxFlex="20" class="sub-heading">Contact No:</div>
                <div fxLayout="row" fxLayoutGap="10px">
                  <div *ngFor="let con of institute.contactNumbers">
                    <div>{{con.contact}}</div>

                  </div>
                </div>

              </div>
              <div fxLayout="column">
                <div fxFlex="20" class="sub-heading">Description:</div>
                <div fxFlex="50" class="content">
                  <span>
                    {{institute.Description}}
                    <a class="description-anchor" (click)="showDescription()">{{show}}</a>
                  </span>
                </div>
              </div>
            </div>
            <div fxFlex="50">
              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15" (mapClick)="mapClicked($event)">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
              </agm-map>
            </div>

          </div>

        </mat-card-content>

      </mat-card>


    </div>


  </div>


</div>