<mat-card class="campusPreReg-mat-card">
    <mat-card-title>
        Campus Pre-Registration Form
    </mat-card-title>

    <mat-card-content>
        <shared-overlay *ngIf="!loaded"></shared-overlay>
        <form novalidate [formGroup]="formGroup" (ngSubmit)="saveData(formGroup.value)">
            <div>
                <div fxLayout="row " fxLayoutGap="50px">
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentsLabel.fullName" formControlName="fullName" name="fullName" required>
                        <mat-error *ngIf="formGroup.get('fullName').hasError('required')">Name is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentsLabel.cnic" formControlName="cnic" [textMask]="{mask: _cnicMask}" required>
                        <mat-error *ngIf="formGroup.get('cnic').hasError('required')  ">CNIC is required.</mat-error>
                        <mat-error *ngIf="formGroup.get('cnic').hasError('pattern') ">Invalid CNIC.</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row " fxLayoutGap="50px">
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentsLabel.mobileNumber" formControlName="mobileNumber" [textMask]="{mask: _mobileNumberMask}"
                            required>
                        <mat-error *ngIf="formGroup.get('mobileNumber').hasError('required')">Mobile Number is required.</mat-error>
                        <mat-error *ngIf=" formGroup.get('mobileNumber').hasError('pattern')">Invalid Mobile Number.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentsLabel.email" formControlName="email" required>
                        <mat-error *ngIf="formGroup.get('email').hasError('required')">Email is required.</mat-error>
                        <mat-error *ngIf="formGroup.get('email').hasError('email') &&  !formGroup.get('email').hasError('required')">Invalid Email.</mat-error>
                        <mat-error *ngIf="formGroup.get('email').hasError('exist') ">Email is already Exists.</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="50px" fxLayoutAlign="start start" class="application-type-tentative">
                    <div fxLayout="column" fxLayoutGap="5px" fxFlex="50%">
                        <label>
                            <b> {{componentsLabel.applicationType}}</b>
                        </label>
                        <mat-radio-group class="mr-group" fxLayout="row" fxLayoutGap="20px" formControlName="applicationType" required>
                            <mat-radio-button *ngFor="let applicationType of applicationTypes" [value]="applicationType.value">
                                {{ applicationType.title }}
                            </mat-radio-button>

                        </mat-radio-group>
                        <mat-error *ngIf="formGroup.get('applicationType').hasError('required')">Application Type is required.</mat-error>
                    </div>

                    <div fxLayout="column" fxLayoutGap="5px" fxFlex="50%">

                        <label>
                            <b>{{componentsLabel.tentativeSessionStart}} </b>
                        </label>
                        <div fxLayout="column">
                            <div fxLayout="row" fxLayoutGap="50px">

                                <mat-form-field fxFlex="100">
                                    <input matInput [matDatepicker]="picker" [placeholder]="componentsLabel.sessionStartDate" formControlName="tentativeSessionStart">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>

                        </div>

                    </div>

                </div>
                <div fxLayout="row " fxLayoutGap="50px" class="single-component">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentsLabel.cityId" formControlName="cityId" required>
                            <mat-option *ngFor="let city of cities" [value]="city.id">
                                {{ city.metaValue }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="formGroup.get('cityId').hasError('required')">City is required.</mat-error>
                    </mat-form-field>

                </div>
                <div fxLayout="row " fxLayoutGap="50px">
                    <mat-form-field fxFlex="50">
                        <input type="password" matInput [placeholder]="componentsLabel.password" formControlName="password" required>
                        <mat-error *ngIf="formGroup.get('password').hasError('required')">Password is required</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input type="password" matInput [placeholder]="componentsLabel.confirmPassword" formControlName="confirmPassword" required>
                        <mat-error *ngIf="formGroup.get('confirmPassword').hasError('required')">Confirm Password is required</mat-error>
                        <mat-error *ngIf="formGroup.get('confirmPassword').hasError('equalTo') && !formGroup.get('confirmPassword').hasError('required') ">Password did not match</mat-error>
                    </mat-form-field>
                </div>

            </div>

            <button mat-raised-button type="submit" [disabled]="formGroup.invalid" color="primary">Save</button>

        </form>

    </mat-card-content>
</mat-card>