<div *ifPermitted="'banks.index'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div>
        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="loaded">

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded">

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['name']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="abbreviation">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['abbreviation']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.abbreviation}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/configuration/metaconf/banks/view', element.id]" mat-icon-button *ifPermitted="'banks.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>
                            <a [routerLink]="['/configuration/metaconf/banks/update', element.id]" mat-icon-button *ifPermitted="'banks.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="deleteBank(element.id)" matTooltip="Delete" *ifPermitted="'banks.delete'">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="accent" [routerLink]="['/configuration/metaconf/banks/create']" *ifPermitted="'banks.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>