<shared-overlay *ngIf="!loaded"> </shared-overlay>
<div class="message">
    <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
    <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
</div>
<div *ngIf="loaded">
    <div class="dialog-title">
        Assign Group to {{roleAssignment.roleName}}
    </div>

    <form (ngSubmit)="submit()" #form="ngForm">
        <div fxLayout="row" style="margin:15px 0px">
            <mat-form-field fxFlex>
                <mat-select placeholder="Select Group" name="group" [(ngModel)]="roleAssignment.groupId" required>
                    <mat-option *ngFor="let group of groups" [value]="group.id">{{group.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        
        <div>
            <button mat-raised-button [disabled]="!form.valid" color="accent" type="submit">Assign</button>
            <button mat-raised-button mat-dialog-close tabindex="-1" type="button" (click)="onNoClick()">Cancel</button>
        </div>
    </form>
</div>