<shared-overlay *ngIf="!loaded"> </shared-overlay>
<div class="message">
    <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
    <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
</div>
<div *ngIf="loaded">
    <div class="dialog-title">
        Assign Role to {{roleAssignment.userName}}
    </div>

    <form (ngSubmit)="submit()" #form="ngForm">
        <div fxLayout="row">
            <mat-form-field fxFlex style="margin:15px 0px;">
                <mat-select placeholder="Select Role" name="role" [(ngModel)]="roleAssignment.roleId" required>
                    <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button [disabled]="!form.valid" color="accent" type="submit">Assign</button>
            <button mat-raised-button mat-dialog-close tabindex="-1" type="button" (click)="onNoClick()">Cancel</button>
        </div>
    </form>
</div>

<!-- 
<div *ngIf="loaded">
    <div class="page-title">
        <h1>Assign Role to {{roleAssignment.userName}}</h1>
    </div>

    <form (ngSubmit)="submit()" #form="ngForm">
        <div class="row">
            <div class="row-content">
                <mat-form-field>
                    <mat-select placeholder="Select Role" name="role" [(ngModel)]="roleAssignment.roleId" required>
                        <mat-option *ngFor="let role of roles" [value]="role.id">{{role.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="buttons-row">
            <button mat-raised-button [disabled]="!form.valid" color="accent" type="submit">Assign</button>
            <button mat-raised-button mat-dialog-close tabindex="-1" type="button" (click)="onNoClick()">Cancel</button>
        </div>
    </form>
</div> -->