<shared-overlay *ngIf="!loaded"> </shared-overlay>
<div class="message">
    <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
    <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
</div>
<div *ifPermitted="'WFStateFlows.findById'">
    <div *ngIf="loaded">
        <div class="dialog-title">
            {{data.type}}
        </div>
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData()">

            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="100">
                    <mat-select [placeholder]="componentLabels.WFId" formControlName="WFId" (change)="wfChange($event)">
                        <mat-option *ngFor="let work of workFlow" [value]="work.WFId">{{work.title}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('WFId').hasError('required') ">Work Flow is Required.</mat-error>
                </mat-form-field>

            </div>
            <div fxLayout="row">
             

                <mat-table #table [dataSource]="dataSource" *ngIf="displayFlows" fxFlex="100">
                    <ng-container matColumnDef="from">
                        <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="to">
                        <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="option">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="option">
                                <mat-checkbox (change)="checkChange($event,element.id)" [checked]="element.checked"> </mat-checkbox>
                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>



            <div *ifPermitted="'WFStateFlows.create'">
                <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                <a color="accent" mat-raised-button (click)="onNoClick()">Cancel</a>
            </div>
        </form>

    </div>
</div>