<shared-overlay *ngIf="!loaded"> </shared-overlay>

<mat-card class="mcard" *ngIf="loaded &&  'academicCalendars.find'">
    <div>
        <mat-card-title class="mc-title"></mat-card-title>

        <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
            <a [routerLink]="['/institute/academicCalendars']" mat-icon-button *ifPermitted="'academicCalendars.index'">
                <mat-icon matTooltip="List">list</mat-icon>
            </a>
            <a [routerLink]="['/institute/academicCalendars/update', academicCalendar.id]" mat-icon-button *ifPermitted="'academicCalendars.update'">
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
            <a mat-icon-button (click)="delete(academicCalendar.id)" matTooltip="delete" *ifPermitted="'academicCalendars.delete'">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
    </div>
    <mat-card-content>

        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

            <div>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.title" formControlName="title" required>
                        <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation" required>
                        <mat-error *ngIf="fg.get('abbreviation').hasError('required')">Abbreviation is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <div fxLayout="column" fxLayoutGap="20px">

                    <mat-form-field>
                        <textarea class="textarea-desc" matInput [placeholder]="componentLabels.description" formControlName="description"></textarea>
                    </mat-form-field>

                </div>
            </div>
            <div *ifPermitted="'programDetails.findAttributesList'">

                <mat-card *ifPermitted="'programDetails.findAttributesList'">

                    <mat-list *ngIf="pageAct != pageActions.view && loaded">
                        <div fxLayout="row" class="pd-header">
                            <mat-list-item fxFlex="30">{{attrLabels['programId']}}</mat-list-item>
                            <mat-list-item fxFlex="50">{{attrLabels['name']}}</mat-list-item>
                            <mat-list-item fxFlex="20"></mat-list-item>
                        </div>
                        <mat-divider></mat-divider>
                        <div *ngFor="let element of data">
                            <div fxLayout="row" class="pd-row">
                                <mat-list-item fxFlex="30"> {{element['program']['name']}} </mat-list-item>
                                <mat-list-item fxFlex="50"> {{element.name}} </mat-list-item>
                                <mat-list-item fxFlex="20">
                                    <mat-checkbox [checked]="element['status']" (change)="checkboxClicked($event,element.id)">
                                    </mat-checkbox>
                                </mat-list-item>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list>
                    <mat-list *ngIf="pageAct === pageActions.view && loaded && academicCalendar.academicCalendarProgramDetails ">
                        <div fxLayout="row" class="pd-header">
                            <mat-list-item fxFlex="40">{{attrLabels['programId']}}</mat-list-item>
                            <mat-list-item fxFlex="60">{{attrLabels['name']}}</mat-list-item>
                        </div>
                        <mat-divider></mat-divider>
                        <div *ngFor="let element of academicCalendar.academicCalendarProgramDetails">
                            <div fxLayout="row" class="pd-row">
                                <mat-list-item fxFlex="40"> {{element['programDetail']['program']['name']}} </mat-list-item>
                                <mat-list-item fxFlex="60"> {{element['programDetail']['name']}} </mat-list-item>
                            </div>
                            <mat-divider></mat-divider>
                        </div>
                    </mat-list>

                </mat-card>
                <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px" class="action-btn">
                    <div *ifPermitted="'academicCalendars.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    </div>
                    <div *ifPermitted="'academicCalendars.create'">
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/institute/academicCalendars']">Cancel</a>

                    </div>
                    <div *ifPermitted="'academicCalendars.create'">
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/institute/academicCalendars/view', academicCalendar.id]">Cancel</a>
                    </div>
                </div>

            </div>

        </form>

    </mat-card-content>
</mat-card>