<div>

    <shared-overlay *ngIf="!loaded"> </shared-overlay>
    <div class="message">
        <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
        <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
    </div>

    <div>

        <!-- Material Data Table -->
        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="loaded">


                <mat-table #table [dataSource]="dataSource" matSort (matSortChange)="sortData()" matSortDisableClear>

                    <ng-container matColumnDef="fullName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{ listLabels.fullName}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fullName}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{listLabels.email}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="applicationType">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>{{listLabels.applicationType}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ campusApplicationType[element.applicationType].title }} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="cityName">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{listLabels.city}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.cityName}} </mat-cell>
                    </ng-container>
                    <ng-container matColumnDef="status">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> {{listLabels.status}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{ campusApplicationStatus[element.status].title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/campus/pre-registrations/',status, element.id]" mat-icon-button>
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>

                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

    </div>

</div>

<!-- </div> -->