.brand-banner {
  display: flex;
  flex: 4 4 80%;
}

.logo {
  flex: 1 1 25%;
  max-width: 235px;
}

.img-logo {
  width:40px;
  margin-top: 12px;
}

.title {
  display: flex;
  flex: 4 4 75%;
  align-items: center;
}

.user-navigation {
  display: flex;
  flex: 1 1 20%;
  justify-content: flex-end;
  align-items: center;
}

#user-name {
  margin: 0 10px;
  height: 40px;
}

.profile-photo {
  width: 50px;
  height: 50px;
  margin-left: 0px;
}
