<mat-card *ifPermitted="'evaluationSheets.create'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div *ngIf="loaded">
        <div class="top-buttons" *ngIf="pageAct == 'view'">
            <a [routerLink]="['/configuration/evaluationSheets']" mat-icon-button *ifPermitted="'evaluationSheets.index'">
                <mat-icon matTooltip="Edit">list</mat-icon>
            </a>
            <a [routerLink]="['/configuration/evaluationSheets/update', evaluationSheet.id]" mat-icon-button *ifPermitted="'evaluationSheets.update'">
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
        </div>


        <mat-card-content>
            <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.title" formControlName="title">
                        <mat-error *ngIf="fg.get('title').hasError('required')">Title is required.</mat-error>
                    </mat-form-field>

                </div>

                <div *ngIf="pageAct != 'view'">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    <a *ngIf="pageAct == 'create'" mat-raised-button [routerLink]="['/configuration/evaluationSheets']">Cancel</a>
                    <a *ngIf="pageAct == 'update'" mat-raised-button [routerLink]="['/configuration/evaluationSheets/view', evaluationSheet.id]">Cancel</a>
                </div>
            </form>
        </mat-card-content>
    </div>
</mat-card>