<!-- <mat-card *ngIf="(preRegStatus && !(preRegStatus === 'new'))">

    <mat-card-title>
        <div fxLayout="row">
            <button fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='personal')? 'button-class' : 'as'" type="button" (click)="tabChange('personal')">Personal</button>
            <button fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='campus')? 'button-class' : 'as'" type="button" (click)="tabChange('campus')">Campus</button>
            <button fxFlex="20" mat-raised-button [ngClass]="(selectedButton=='remittance')? 'button-class' : 'as'" type="button" (click)="tabChange('remittance')">Remittance</button>
        </div>
    </mat-card-title>
    <mat-card-content>
        <app-personal-information [campusApplicantId]="campusId" *ngIf="selectedButton=='personal'"></app-personal-information>
        <campus-info [campusApplicantId]="campusId" *ngIf="selectedButton=='campus'"></campus-info>
        <remittance [campusApplicantId]="campusId" *ngIf="selectedButton=='remittance'"></remittance>
    </mat-card-content>
</mat-card> -->



<mat-card>
    <shared-overlay *ngIf="!loaded"></shared-overlay>

    <mat-card-content *ngIf="loaded">
        <shared-overlay *ngIf="isEmailSending"></shared-overlay>
        <div *ngIf="!isEmailSending">

            <div fxLayout="row" fxLayoutAlign="end stretch" fxLayoutGap="20px" *ngIf="preRegStatus === 'new'">
                <button mat-raised-button color="accent" (click)="changeStatus('approve')">Approve</button>
                <button mat-raised-button color="warn" (click)="changeStatus('reject')">
                    Reject</button>
            </div>
            <div fxLayout="row" fxLayoutGap="50px" class="block-padding">
                <mat-form-field fxFlex="50" class="row">
                    <input matInput [placeholder]="labels.status" [value]="campusApplicationStatus[campusPreRegistration.status].title" [readonly]="true">
                </mat-form-field>

                <mat-form-field fxFlex="50" class="row">
                    <input matInput [placeholder]="labels.applicationType" [value]="campusApplicationType[campusPreRegistration.campusOwner.applicationType].title"
                        [readonly]="true">
                </mat-form-field>
            </div>
            <mat-card-title class="block-padding">Applicant Information</mat-card-title>

            <div>
                <div fxLayout="row" fxLayoutGap="50px">
                    <mat-form-field fxFlex="50" class="row">
                        <input matInput [placeholder]="labels.fullName" [value]="campusPreRegistration.campusOwner.fullName" [readonly]="true">
                    </mat-form-field>

                    <mat-form-field fxFlex="50" class="row ">
                        <input matInput [placeholder]="labels.email" [value]="campusPreRegistration.campusOwner.email" [readonly]="true">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="50px">
                    <mat-form-field fxFlex="50" class="row">
                        <input matInput [placeholder]="labels.mobileNumber" [value]="campusPreRegistration.campusOwner.mobileNumber" [readonly]="true">
                    </mat-form-field>
                    <mat-form-field fxFlex="50" class="row">
                        <input matInput [placeholder]="labels.cnic" [value]="campusPreRegistration.campusOwner.cnic" [readonly]="true">
                    </mat-form-field>

                </div>
                <div fxLayout="row" fxLayoutGap="50px" class="single-component">

                    <mat-form-field fxFlex="50" class="row">
                        <input matInput [placeholder]="labels.createdAt" [value]="campusPreRegistration.createdAt | date" [readonly]="true">
                    </mat-form-field>
                </div>
            </div>
            <mat-card-title class="block-padding">Campus Information</mat-card-title>
            <div>
                <div fxLayout="row" fxLayoutGap="50px">
                    <mat-form-field fxFlex="50" class="row">
                        <input matInput [placeholder]="labels.cityId" [value]="campusPreRegistration.city.metaValue" [readonly]="true">
                    </mat-form-field>
                    <mat-form-field fxFlex="50" class="row">
                        <input matInput [placeholder]="labels.tentativeSessionStart" [value]="campusPreRegistration.tentativeSessionStart | uppercase"
                            [readonly]="true">
                    </mat-form-field>
                </div>

            </div>
        </div>
    </mat-card-content>
</mat-card>