<section [formGroup]="fg" class="top-margin">
  <div>

    <mat-form-field fxFlex="30">
      <input matInput placeholder="Number of Campus to Transfer" type="number" formControlName="noOfCampusTransfer">

    </mat-form-field>
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">

    <mat-form-field fxFlex="30">
      <input matInput placeholder="Campus Name" formControlName="campusName" #message maxlength="50">
      <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field fxFlex="30">
      <input matInput placeholder="Website" type="url" formControlName="website">
    </mat-form-field>


    <mat-form-field fxFlex="30">
      <input matInput placeholder="Official Email" formControlName="officialEmail">
    </mat-form-field>

  </div>

  <div fxLayout="row" fxLayoutAlign="space-between">

    <mat-form-field fxFlex="30">
      <input matInput placeholder="Established Since" type="number" formControlName="establishedSince">
      <mat-error *ngIf="fg.get('establishedSince').hasError('equalTo') ">Year Should Between 1850 to Current Year</mat-error>

    </mat-form-field>




    <mat-form-field fxFlex="30">
      <input matInput placeholder="Level of Education" formControlName="levelOfEducation">
    </mat-form-field>
    <div fxLayout="column" fxFlex="30">
      <div formArrayName="affiliations" *ngFor="let item of fg.get('affiliations').controls; let j = index;">
        <div [formGroupName]="j">
          <mat-form-field fxFlex="90">
            <input matInput placeholder="Affiliation" formControlName="affiliation">
          </mat-form-field>
          <button mat-icon-button type="button" (click)="addAffiliationClick()" *ngIf="fg.get('affiliations').controls.length == j+1  && !isSubmit ">
            <mat-icon>add</mat-icon>
          </button>
          <button mat-icon-button type="button" (click)="removeAffiliationLink(j,item)" *ngIf="!(fg.get('affiliations').controls.length == 1) && !isSubmit">
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <!-- <faculty-program [campusInfo]="camModel" [isSubmit]="isSubmit"></faculty-program> -->
  </div>

  <div>
    <campus-address [fg]="fg" [buildingAvailable]="true" [isSubmit]="isSubmit" [camModel]="camModel">
    </campus-address>
  </div>

  <div>
    <campus-infrastructure [fg]="fg"></campus-infrastructure>
  </div>
</section>