
.user-navigation {
  display: flex;
  flex: 1 1 20%;
  justify-content: flex-end;
  align-items: center;
}

#user-name {
  margin: 0 10px;
  height: 40px;
}

.profile-photo {
  width: 50px;
  height: 50px;
  margin-left: 0px;
}

.mm-item{
  margin-right:10px;
  font-size:14px;
  color:#eaeaea;
  padding:16px 8px;
}
.mm-item:hover, .active-item{
  color:#000;
  background: white;
}