<div>
    <mat-toolbar color="primary">
        <div fxLayout="row">
            <a class="mm-item" *ngFor="let item of moduleMenu" (click)="navigateAndLoadMenu(item.name)">{{item.title}}</a>
            <!-- [routerLink]="item.url" -->
            <!-- <a class="mm-item">Institute</a>
            <a class="mm-item">Programs</a>
            <a class="mm-item active-item">Campus</a>
            <a class="mm-item">Fee Management</a>
            <a class="mm-item">Admissions</a>
            <a class="mm-item">Faculty</a>
            <a class="mm-item">Acadmic</a>
            <a class="mm-item">Calendar</a>
            <a class="mm-item">Attendance</a>
            <a class="mm-item">Acadmic</a>
            <a class="mm-item">Examination</a> -->
        </div>

        <div class="user-navigation">
            <button id="user-name" mat-button [matMenuTriggerFor]="menu">{{ username }}</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="logout()">Logout</button>
            </mat-menu>
            <img class="profile-photo" src="/assets/images/user.png">
        </div>
    </mat-toolbar>
</div>