<div>

  <div fxLayout="row" class="layout-body">

    <div class="relative-page-content">
      
      <layout-classic-left-nav></layout-classic-left-nav>

      <div fxFlex fxLayout="column">
        
        <layout-classic-header></layout-classic-header>
        
        <layout-classic-sub-header></layout-classic-sub-header>

        <div class="layout-page-content">
          <router-outlet></router-outlet>
        </div>

      </div>
    </div>
  </div>

  <layout-classic-footer></layout-classic-footer>

</div>