<header fxLayout="row" fxLayoutAlign="space-between" class="header-block">
  <div fxLayout="row" routerLink="/home">
    <img src="../../../../../../assets/images/munivLogo.png" alt="Mekdiz University" class="logo">

    <h1 class="heading">Mekdiz University</h1>
  </div>
  <div class="user-navigation">
    <img class="profile-photo" src="/assets/images/user.png">
    <button id="user-name" mat-button [matMenuTriggerFor]="menu">{{ username }}</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </div>



</header>