.header-block {
  background-color: #eaeaea;
  font-family: 'Roboto', arial, sans-serif;
}
.logo {
  height: 100px;
  width: 100px;
}

.heading {
  font-weight: 300;
  font-size: 3em;
  margin: 25px;
  color: #414141;
  font-size: 36px;
  letter-spacing: -0.2px;
}
.user-navigation {
  display: flex;
  flex: 1 1 20%;
  justify-content: flex-end;
  align-items: center;
}

#user-name {
  margin: 0 10px;
  height: 40px;
}

.profile-photo {
  width: 50px;
  height: 50px;
  margin-left: 0px;
}
