<div *ifPermitted="'faculties.find'">
    <mat-card>

        <shared-overlay *ngIf="!loaded"> </shared-overlay>

        <mat-card-content *ngIf="loaded">
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="100">
                        <input matInput [placeholder]="componentLabels.name" formControlName="name">
                        <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                        <mat-error *ngIf="fg.get('name').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                    </mat-form-field>

                </div>

                <div fxLayout="row" fxLayoutGap="10px">

                </div>

                <div>
                    <div *ifPermitted="'faculties.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/institute/faculties']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/institute/faculties/view', faculty.id]">Cancel</a>
                    </div>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
</div>