<section [formGroup]="fg" class="top-margin">

  <div formArrayName="addresses" *ngFor="let item of fg.get('addresses').controls; let i = index;">
    <div [formGroupName]="i">
      <div>
        <mat-form-field fxFlex="100">
          <input matInput placeholder="Address" #message maxlength="100" formControlName="address">
          <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="70px">

        <mat-form-field fxFlex="30">
          <input matInput placeholder="Latitude" type="number" formControlName="latitude">
        </mat-form-field>

        <div fxLayout="row" fxFlex="30">
          <mat-form-field fxFlex="90">
            <input matInput placeholder="Longitude" type="number" formControlName="longitude">
          </mat-form-field>
          <button mat-icon-button type="button" *ngIf="!isSubmit" (click)="addLocationClick(i)">
            <mat-icon>add_location</mat-icon>
          </button>
        </div>

      </div>
    </div>
  </div>
</section>