<mat-card>
    <shared-overlay *ngIf="!loaded"> </shared-overlay>
    <div *ngIf="loaded">
        <div class="card-header" fxLayout fxLayoutAlign="flex-end">
            <div class="message">
                <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
                <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
            </div>
            <div class="top-buttons">
                <a [routerLink]="['/security/groups/update', group.id]" mat-icon-button>
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(group.id)" matTooltip="delete">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>
            <mat-card-title>Users</mat-card-title>
            <div fxLayout="column" class="group-record">
                <div *ngFor="let userGroup of group.userGroups" fxLayout>
                    <mat-form-field fxFlex="50" class="hover-effect">
                        <input matInput [placeholder]="userLabels.username" name="user" [(ngModel)]="userGroup.user.username" [readonly]="true">
                        <mat-icon matSuffix class="options" color="warn" (click)="deleteUser(userGroup.id)">delete</mat-icon>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <div fxFlex="50" fxLayoutAlign="end">
                        <button mat-mini-fab type="button" (click)="addUser(group.id)" color="primary">+</button>
                    </div>
                </div>
            </div>
            <mat-card-title>Roles</mat-card-title>
            <div fxLayout="column" class="group-record">
                <div *ngFor="let roleAssignment of group.roleAssignments" fxLayout>
                    <mat-form-field fxFlex="50" class="hover-effect">
                        <input matInput [placeholder]="roleLabels.name" name="role" [(ngModel)]="roleAssignment.role.name" [readonly]="true">
                        <mat-icon matSuffix class="options" color="warn" (click)="deleteRole(roleAssignment.id)">delete</mat-icon>
                    </mat-form-field>
                </div>
                <div fxLayout>
                    <div fxFlex="50" fxLayoutAlign="end">
                        <button mat-mini-fab type="button" (click)="assignRole(group.id)" color="primary">+</button>
                    </div>
                </div>
            </div>
            <!-- <mat-card-title>Permissions</mat-card-title>
            <mat-card>
                <mat-progress-bar *ngIf="showDivBar" mode="indeterminate"></mat-progress-bar>
                <div>
                    <form (ngSubmit)="changePermission(group.id)" #form="ngForm">
                        <div class="row" *ngFor="let assignedPermission of group.assignedPermissions let index = index">
                            <mat-card-subtitle>
                                {{assignedPermission.title}}
                            </mat-card-subtitle>
                            <mat-card-content>
                                <div fxLayout>
                                    <div *ngFor="let permission of assignedPermission.children let i = index">
                                        <mat-checkbox fxFlexOffset="20px" name="{{index}}-permission-{{i}}" [(ngModel)]="permission.status">{{permission.title}}</mat-checkbox>
                                    </div>
                                </div>
                            </mat-card-content>
                        </div>
                        <mat-card-footer class="permissions-footer">
                            <button mat-raised-button color="primary" type="submit">Save</button>
                        </mat-card-footer>
                    </form>
                </div>
            </mat-card> -->
        </mat-card-content>
    </div>
</mat-card>