<div *ifPermitted="'evaluationSheets.index'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div *ngIf="loaded">

        <!-- Material Data Table -->
        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="loaded">

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded">

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['title']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/configuration/evaluationSheets/view', element.id]" mat-icon-button *ifPermitted="'evaluationSheets.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>
                            <a [routerLink]="['/configuration/evaluationSheets/update', element.id]" mat-icon-button *ifPermitted="'evaluationSheets.update'">
                                <mat-icon matTooltip="View">edit</mat-icon>
                            </a>
                            <!-- <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'evaluationSheets.delete'">
                                <mat-icon color="warn">delete</mat-icon>
                            </a> -->
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row class="hover-effect" *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

        <div class="right-bottom-button">
            <a mat-fab color="primary" [routerLink]="['/configuration/evaluationSheets/create']" *ifPermitted="'evaluationSheets.create'">
                <mat-icon>add</mat-icon>
            </a>
        </div>
    </div>

</div>