<shared-overlay *ngIf="!loaded"></shared-overlay>
<mat-card style="padding-top: 10px;" *ngIf="campusInfo">
  <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">
    <mat-card-title>
      <!-- <div fxLayout="row">
        <button fxFlex="20" mat-raised-button class="submit-button" [routerLink]="['/post-registration/campus/personalinfo']" type="button">Personal</button>
        <button fxFlex="20" mat-raised-button class="submit-button" class="button-class" [routerLink]="['/post-registration/campus/campusinfo']"
          type="button">Campus</button>
        <button fxFlex="20" mat-raised-button class="submit-button" [routerLink]="['/post-registration/campus/remittance']" type="button">Remittance</button>
        <button fxFlex="20" mat-raised-button class="submit-button" [routerLink]="['/post-registration/campus/submit']" type="button">Submit</button>
      </div> -->
      <campus-registration [selectedButton]="'campus'"></campus-registration>
    </mat-card-title>
    <mat-card-content class="top-margin">
      <div fxLayout="row">
        <mat-radio-group formControlName="campusType">
          <mat-radio-button (change)="resetForm($event)" [value]="true">Create Campus</mat-radio-button>
          <mat-radio-button (change)="resetForm($event)" [value]="false">Transfer Campus</mat-radio-button>
        </mat-radio-group>
      </div>
      <div *ngIf="fg.value.campusType == true">
        <create-campus [fg]="fg" [isSubmit]="isSubmit" [camModel]="campusInfo"></create-campus>
      </div>
      <div *ngIf="fg.value.campusType == false">
        <campus-transfer [fg]="fg" [camModel]="campusInfo" [isSubmit]="isSubmit" [camInfoModel]="campusInfo"></campus-transfer>
      </div>
    </mat-card-content>

    <mat-card-actions *ngIf="!isSubmit">
      <button mat-raised-button type="submit" color="primary">Save & Next</button>
    </mat-card-actions>
  </form>
</mat-card>