<shared-overlay *ngIf="!loaded"></shared-overlay>
<mat-card style="padding-top: 10px;" *ngIf="loaded">


  <mat-card-content>
    <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

      <div fxLayout="row" fxLayoutGap="40px">

        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="componentLabels.name" formControlName="name">
          <mat-error *ngIf="fg.get('name').hasError('required')">Full Name is required.</mat-error>
          <mat-error *ngIf="fg.get('name').hasError('maxlength')">Exceeding Maximum length.</mat-error>
        </mat-form-field>

        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="componentLabels.abbreviation" formControlName="abbreviation">
        </mat-form-field>
      </div>

      <div fxLayout="row" fxLayoutGap="40px">
        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="componentLabels.website" formControlName="website">
          <mat-error *ngIf="fg.get('website').hasError('pattern') ">Invalid Website.</mat-error>
          <mat-error *ngIf="fg.get('website').hasError('maxlength') ">Exceeding Maximum length.</mat-error>
        </mat-form-field>


        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="componentLabels.officeEmail" formControlName="officeEmail">
          <mat-error *ngIf="fg.get('officeEmail').invalid">{{getEmailErrorMessage()}}</mat-error>
        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayoutGap="10px">
        <mat-form-field fxFlex="100">
          <input matInput [placeholder]="componentLabels.headOfficeLocation" formControlName="headOfficeLocation">
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutGap="40px">
        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="componentLabels.latitude" formControlName="latitude">
        </mat-form-field>
        <div fxFlex="50" fxLayout="row">
          <mat-form-field fxFlex="90">
            <input matInput [placeholder]="componentLabels.longitude" formControlName="longitude">
          </mat-form-field>
          <button mat-icon-button type="button" (click)="addLocationClick()">
            <mat-icon>add_location</mat-icon>
          </button>
        </div>

      </div>

      <div fxLayout="row" fxLayoutGap="40px">
        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="componentLabels.establishedScince" type="number" formControlName="establishedScince">
          <mat-error *ngIf="fg.get('establishedScince').hasError('equalTo') ">Year Should Between 1850 to Current Year</mat-error>
        </mat-form-field>

        <!-- <mat-form-field fxFlex="50">
          <mat-select [placeholder]="componentLabels.establishedScince" formControlName="establishedScince">
            <mat-option *ngFor="let year of establishedScince" [value]="year">
              {{ year }}
            </mat-option>
          </mat-select>
        </mat-form-field> -->

        <mat-form-field fxFlex="50">
          <input matInput [placeholder]="componentLabels.focalPerson" formControlName="focalPerson">
        </mat-form-field>

      </div>

      <div fxLayout="row" fxLayoutGap="40px">

        <div fxFlex="50">

          <div formArrayName="contactNumbers" *ngFor="let item of fg.get('contactNumbers').controls; let i = index;">
            <div [formGroupName]="i">
              <mat-form-field fxFlex="90">
                <input matInput [placeholder]="componentLabels.contactNumbers" formControlName="contact" [textMask]="{mask: mobileMask}">
              </mat-form-field>
              <button mat-icon-button type="button" (click)="addContactClick()" *ngIf="fg.get('contactNumbers').controls.length == i+1  ">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button type="button" (click)="removeLink(i,item)" *ngIf="!(fg.get('contactNumbers').controls.length == 1)">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>


        </div>


        <div fxFlex="50">
          <div formArrayName="affiliation" *ngFor="let item of fg.get('affiliation').controls; let j = index;">
            <div [formGroupName]="j">
              <mat-form-field fxFlex="90">
                <input matInput [placeholder]="componentLabels.affiliations" formControlName="affiliationa">
              </mat-form-field>
              <button mat-icon-button type="button" (click)="addAffiliationClick()" *ngIf="fg.get('affiliation').controls.length == j+1  ">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-icon-button type="button" (click)="removeAffiliationLink(j,item)" *ngIf="!(fg.get('affiliation').controls.length == 1)">
                <mat-icon>cancel</mat-icon>
              </button>
            </div>
          </div>
        </div>



      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <textarea matInput [placeholder]="componentLabels.Description" rows="5" formControlName="Description"></textarea>
        </mat-form-field>
      </div>

      <div>

        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
        <a color="accent" mat-raised-button [routerLink]="['/institute/dashboard']">Cancel</a>
      </div>


    </form>
  </mat-card-content>
</mat-card>