<div *ifPermitted="'institutetypes.find'">
    <mat-card class="mcard" *ngIf="loaded">
        <div>
            <mat-card-title class="mc-title"></mat-card-title>

            <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                <a [routerLink]="['/institute/instituteTypes']" mat-icon-button *ifPermitted="'institutetypes.index'">
                    <mat-icon matTooltip="List">list</mat-icon>
                </a>
                <a [routerLink]="['/institute/instituteTypes/update', instituteType.id]" mat-icon-button *ifPermitted="'institutetypes.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(instituteType.id)" matTooltip="Delete" *ifPermitted="'institutetypes.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>

            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="100">
                        <input matInput [placeholder]="componentLabels.name" formControlName="name">
                        <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                        <mat-error *ngIf="fg.get('name').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                    </mat-form-field>

                </div>

                <div *ngIf="pageAct != pageActions.view">

                    <div *ifPermitted="'institutetypes.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/institute/instituteTypes']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/institute/instituteTypes/view', instituteType.id]">Cancel</a>
                    </div>

                </div>
            </form>

        </mat-card-content>
    </mat-card>
</div>