.creteria-button {
  background-color: #12bb09;
  color: #ffffff;
  font-size: 24px;
  width: 300px;
  height: 100px;
}
.apply-button {
  background-color: #fda600;
  color: #ffffff;
  font-size: 24px;
  width: 300px;
  height: 60px;
  margin: 30px;
}
.applyForReg-mat-card {
  margin: 50px 50px;
}
