<mat-card class="applyForReg-mat-card">
    <mat-card-title>
        Campus Registration Program
    </mat-card-title>
    <mat-card-content>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean non nunc sed augue convallis congue vulputate ac erat. Phasellus
            eu nulla in quam tempor pellentesque quis at eros. Nullam lectus orci, facilisis vel ipsum vel, sollicitudin
            fringilla urna. Praesent a varius sapien, non viverra est. Vestibulum volutpat vestibulum tristique. Cras id
            diam vitae Donec
        </p>
        <p>
            sollicitudin maximus placerat. Vestibulum a libero et turpis tempor maximus. Nullam egestas tortor eros. Nam vel cursus ex.
            Mauris quis tellus aliquam, ultrices erat vitae, ultrices lorem. Phasellus vitae orci vitae ligula imperdiet
            pulvinar id congue leo. Etiam et imperdiet erat. Ut vel justo justo. Vivamus nulla massa, porta
        </p>
        <section fxLayout="row" fxLayoutAlign="space-between">
            <div fxFlex="60">
                <div fxLayout="row" fxLayoutAlign="start center">
                    <i class="material-icons">done</i>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <i class="material-icons">done</i>
                    <p>
                        Phasellus eu nulla in quam tempor pellentesque quis at eros.
                    </p>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <i class="material-icons">done</i>
                    <p>
                        Nullam lectus orci, facilisis vel ipsum vel, sollicitudin fringilla urna.
                    </p>
                </div>

                <div fxLayout="row" fxLayoutAlign="start center">
                    <i class="material-icons">done</i>
                    <p>
                        Praesent a varius sapien, non viverra est.
                    </p>
                </div>

            </div>
            <div fxLayout="column" fxLayoutAlign="center center">
                <button class="creteria-button" mat-button routerLink="/home/eligibilityCriteria">Eligibilty Creteria</button>

                <!-- <a class="download-anchor" (click)="downloadPdf()"> Download PDF Via Angular</a> -->

                <a class="download-anchor" href="{{serverUrl}}/shared/eligibility-criteria/download"> Download PDF</a>
                <!-- href="/home/eligibilityCriteria" -->
                <button class="apply-button" mat-button routerLink="/home/campusPreRegistration">Apply</button>

            </div>
        </section>

    </mat-card-content>
</mat-card>