<!-- <mat-card>
    <mat-card-header>
        <mat-card-title>Configuration Dasboard </mat-card-title>
    </mat-card-header>
    <mat-card-content fxLayout="row" fxLayoutAlign="start stretch">
        <img fxFlex="100" src="../../../../assets/images/sample_dashboard_3.jpg" alt="Dashboard">

    </mat-card-content>
</mat-card> -->

<div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Configuration Dashboard</mat-card-title>
                <mat-card-subtitle>IT Configuration</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/dash6.jpg" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Configuration Dashboard</mat-card-title>
                <mat-card-subtitle>CS Configuration</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/sample_dashboard_3.jpg" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Configuration Dashboard</mat-card-title>
                <mat-card-subtitle>SE Configuration</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/dash4.png" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Configuration Dashboard</mat-card-title>
                <mat-card-subtitle>IT Configuration</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/dash1.png" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Configuration Dashboard</mat-card-title>
                <mat-card-subtitle>CS Configuration</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/dash2.jpg" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Configuration Dashboard</mat-card-title>
                <mat-card-subtitle>SE Configuration</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/dash5.jpg" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>