<div fxLayout *ngFor="let esSection of esSections">
    <!-- <shared-overlay *ngIf="!loaded"> </shared-overlay> -->
    <mat-card fxFlex="100" class="mcard" *ngIf="loaded">
        <div>
            <mat-card-title class="mc-title">{{esSection.title}}</mat-card-title>
            <div class="mc-action-btn">
                <a mat-icon-button (click)="editESSection(esSection.id)" *ifPermitted="'esSection.update'">
                    <mat-icon matTooltip="Edit Section">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="addESSection()" *ifPermitted="'esSection.create'">
                    <mat-icon matTooltip="Add Section">add</mat-icon>
                </a>

            </div>
        </div>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>

<div fxLayout *ngIf="loaded && esSections.length == 0">
    <!-- <shared-overlay *ngIf="!loaded"> </shared-overlay> -->
    <mat-card fxFlex="100" class="mcard">
        <div>
            <mat-card-title class="mc-title">Sections</mat-card-title>
            <div class="mc-action-btn">
                <a mat-icon-button (click)="addESSection()" *ifPermitted="'esSection.create'">
                    <mat-icon matTooltip="Add Section">add</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>

        </mat-card-content>
    </mat-card>
</div>