<div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row" fxLayoutGap="20px">
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Campus Dashboard</mat-card-title>
                <mat-card-subtitle>IT Campus</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/dash1.png" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Campus Dashboard</mat-card-title>
                <mat-card-subtitle>CS Campus</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/dash5.jpg" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Campus Dashboard</mat-card-title>
                <mat-card-subtitle>SE Campus</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/sample_dashboard_3.jpg" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
    <div fxLayout="row" fxLayoutGap="20px">
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Campus Dashboard</mat-card-title>
                <mat-card-subtitle>IT Campus</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/dash4.png" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Campus Dashboard</mat-card-title>
                <mat-card-subtitle>CS Campus</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/dash2.jpg" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="example-card" fxFlex="33">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Campus Dashboard</mat-card-title>
                <mat-card-subtitle>SE Campus</mat-card-subtitle>
            </mat-card-header>
            <mat-divider></mat-divider>
            <img mat-card-image src="../../../../assets/images/dash5.jpg" height="350" alt="Campus Image">
            <mat-card-content>
                <p>
                    University of Punjab is the largest university in Pakistan.
                </p>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>