<div *ifPermitted="'users.find'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>
    <div *ngIf="loaded">
        <mat-card class="mcard">
            <div>
                <mat-card-title class="mc-title"></mat-card-title>
                <div class="mc-action-btn">
                    <a [routerLink]="['/security/users/update', user.id]" mat-icon-button *ifPermitted="'users.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(user.id)" matTooltip="delete" *ifPermitted="'users.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <form novalidate [formGroup]="fg">

                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex="50">
                            <input matInput [placeholder]="userLabels.username" formControlName="username">
                        </mat-form-field>
                    </div>

                    <div fxLayout="column" fxLayoutGap="10px">
                        <mat-checkbox formControlName="isSuperUser">
                            {{userLabels.isSuperUser}}
                        </mat-checkbox>
                        <mat-checkbox formControlName="isActive">
                            {{userLabels.isActive}}
                        </mat-checkbox>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
        <div fxLayout *ngIf="!user.isSuperUser">
            <mat-card fxFlex="100" class="mcard">
                <div>
                    <mat-card-title class="mc-title">Roles</mat-card-title>
                    <div class="mc-action-btn">
                        <a mat-icon-button (click)="assignRole(user.id)">
                            <mat-icon matTooltip="Assign Role">add</mat-icon>
                        </a>
                    </div>
                </div>
                <mat-card-content>
                    <div fxLayout="column" class="role-record">
                        <div *ngFor="let roleAssignment of user.roleAssignments" fxLayout>
                            <mat-form-field fxFlex="50" class="hover-effect">
                                <input matInput [placeholder]="roleLabels.name" name="role" [(ngModel)]="roleAssignment.role.name" [readonly]="true">
                                <mat-icon matSuffix color="warn" class="options" (click)="deleteFromRole(roleAssignment.id)">delete</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>