<mat-card class="card-margin">

    <mat-card-content>
        <div class="eligibility">
            <h2>
                Eligibility Criteria
            </h2>
            <p>
                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College
                in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
                going through the cites of the word in classical literature, discovered the undoubtable source.</p>
            <p> Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good
                and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during
                the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section
                1.10.32.
            </p>
            <section fxLayout="row" fxLayoutAlign="space-between">
                <div fxFlex="60">
                    <div fxLayout="row" fxLayoutAlign="start center">
                        <i class="material-icons">done</i>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </p>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center">
                        <i class="material-icons">done</i>
                        <p>
                            Phasellus eu nulla in quam tempor pellentesque quis at eros.
                        </p>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center">
                        <i class="material-icons">done</i>
                        <p>
                            Nullam lectus orci, facilisis vel ipsum vel, sollicitudin fringilla urna.
                        </p>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="start center">
                        <i class="material-icons">done</i>
                        <p>
                            Praesent a varius sapien, non viverra est.
                        </p>
                    </div>

                </div>
                <div fxLayout="column" fxLayoutAlign="center center">
                    <!-- <button class="creteria-button" (click)="downloadPdf()" mat-button routerLink="/home/eligibilityCriteria">Download Pdf</button> -->
                    <a class="pdf-download" href="{{serverUrl}}/shared/eligibility-criteria/download">
                        <p class="download-text"> Download Pdf</p>
                    </a>

                    <!-- </button> -->

                    <!-- <a class="download-anchor" target="_blank" href="http://localhost:3000/shared/eligibility-criteria/download"> Download PDF</a> -->
                    <!-- href="/home/eligibilityCriteria" -->
                    <button class="apply-button" mat-button routerLink="/home/applyForRegistration">Back</button>

                </div>
            </section>
        </div>

    </mat-card-content>
</mat-card>