.eligibility {
  margin-right: 10%;
  margin-left: 10%;
}
.back-buttob {
  margin-left: 15px;
}
.card-margin {
  margin: 50px;
}
.creteria-button {
  background-color: #12bb09;
  color: #ffffff;
  font-size: 24px;
  width: 200px;
  height: 50px;
}
.apply-button {
  background-color: #fda600;
  color: #ffffff;
  font-size: 24px;
  width: 300px;
  height: 60px;
  margin: 30px;
}
.pdf-download {
  display: block;
  width: 300px;
  height: 100px;
  background-color: #12bb09;
  text-align: center;
  color: white;
  font-weight: normal;
  font-size: 22px;
  text-decoration: none;
}
.download-text {
  margin-top: 35px;
}
a:hover {
  background-color: #158f0e;
}
