<div *ifPermitted="'roadMaps.find'">
    <mat-card class="mcard" *ngIf="loaded">
        <div>
            <mat-card-title class="mc-title"></mat-card-title>

            <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                <a [routerLink]="['/institute/roadMaps']" mat-icon-button *ifPermitted="'roadMaps.index'">
                    <mat-icon matTooltip="List">list</mat-icon>
                </a>
                <a [routerLink]="['/institute/roadMaps/update', roadMap.id]" mat-icon-button *ifPermitted="'roadMaps.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(roadMap.id)" matTooltip="delete" *ifPermitted="'roadMaps.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>

            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="25px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="100">
                        <input matInput [placeholder]="componentLabels.title" formControlName="title">
                        <mat-error *ngIf="fg.get('title').hasError('required')">Roadmap Title is required.</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.programDetailId" formControlName="programDetailId" *ifPermitted="'programDetails.findAttributesList'"
                            required>
                            <mat-option *ngFor="let programDetail of programDetails" [value]="programDetail.id">
                                {{ programDetail.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('programDetailId').hasError('required')">Program detail is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.academicCalendarId" formControlName="academicCalendarId" *ifPermitted="'academicCalendars.findAttributesList'"
                            required>
                            <mat-option *ngFor="let academicCalendar of academicCalendars" [value]="academicCalendar.id">
                                {{ academicCalendar.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('academicCalendarId').hasError('required')">Academic Calendar is required.</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10px" *ifPermitted="'courses.findAttributesList'">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.courseId" formControlName="courseId" (change)="eventCourseSelection($event.value)"
                            *ifPermitted="'courses.findAttributesList'" required>
                            <mat-option *ngFor="let course of courses" [value]="course.id">
                                {{ course.title }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('courseId').hasError('required')">Course is required.</mat-error>
                    </mat-form-field>
                    <div fxFlex="50">
                        <div fxLayout="row" fxLayoutGap="10px">
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.courseAbbreviation" value={{courseAbbr}} readonly="true">
                            </mat-form-field>
                            <mat-form-field fxFlex="50">
                                <input matInput [placeholder]="componentLabels.courseCode" type="number" formControlName="courseCode" required>
                                <mat-error *ngIf="fg.get('courseCode').hasError('required')">Course Code is required.</mat-error>

                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <div fxLayout="row" fxLayoutGap="5px" fxFlex="50">
                        <label class="radio-label">
                            <b> {{componentLabels.natureOfCourse}}</b>
                        </label>
                        <mat-radio-group class="mr-group" fxLayout="row" fxLayoutGap="20px" formControlName="natureOfCourse" required>
                            <mat-radio-button *ngFor="let natureOfCourse of natureOfCourses" [value]="natureOfCourse.value">
                                {{ natureOfCourse.title }}
                            </mat-radio-button>

                        </mat-radio-group>
                        <mat-error *ngIf="fg.get('natureOfCourse').hasError('required')">Nature of course is required.</mat-error>
                    </div>
                    <div fxLayout="row" fxLayoutGap="5px" fxFlex="50">
                        <label class="radio-label">
                            <b> {{componentLabels.courseType}}</b>
                        </label>
                        <mat-radio-group class="mr-group" fxLayout="row" fxLayoutGap="20px" formControlName="courseType" required>
                            <mat-radio-button *ngFor="let courseType of courseTypes" [value]="courseType.value">
                                {{ courseType.title }}
                            </mat-radio-button>

                        </mat-radio-group>
                        <mat-error *ngIf="fg.get('courseType').hasError('required')">Course Type is required.</mat-error>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.classId" formControlName="classId" *ifPermitted="'classes.findAttributesList'"
                            required>
                            <mat-option *ngFor="let class of classes" [value]="class.id">
                                {{ class.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('classId').hasError('required')">Class is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.courseOrder" type="number" formControlName="courseOrder">
                        <mat-error *ngIf="fg.get('courseOrder').hasError('greaterThan')">Invalid Course Order</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.creditHours" formControlName="creditHours">
                            <mat-option *ngFor="let creditHour of creditHours" [value]="creditHour.id">
                                {{ creditHour.value }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <div fxFlex="50">

                        <div formArrayName="preReqCoursesList" *ngFor="let item of fg.get('preReqCoursesList').controls; let i = index;">
                            <div [formGroupName]="i">
                                <mat-form-field fxFlex="90">
                                    <mat-select [placeholder]="componentLabels.preReqCoursesList" formControlName="courseId" *ifPermitted="'courses.findAttributesList'">
                                        <mat-option *ngFor="let course of courses" [value]="course.id">
                                            {{ course.title }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <button mat-icon-button type="button" (click)="addCoursesClick()" *ngIf="fg.get('preReqCoursesList').controls.length == i+1  "
                                    [disabled]="pageAct === pageActions.view">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button type="button" (click)="removeCourses(i,item)" *ngIf="!(fg.get('preReqCoursesList').controls.length == 1)"
                                    [disabled]="pageAct === pageActions.view">
                                    <mat-icon>cancel</mat-icon>
                                </button>
                            </div>
                        </div>


                    </div>
                </div>

                <div *ngIf="pageAct != pageActions.view">
                    <div *ifPermitted="'roadMaps.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/institute/roadMaps']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/institute/roadMaps/view', roadMap.id]">Cancel</a>
                    </div>
                </div>
            </form>

        </mat-card-content>
    </mat-card>
</div>