<shared-overlay *ngIf="!loaded"></shared-overlay>

<section *ngIf="loaded">
  <div *ngFor="let mul of multiple; let i = index" class="top-margin" disabled="isSubmit">
    <div fxLayout="row">
      <mat-form-field>
        <mat-select placeholder="Select Faculty" [disabled]="i < (multiple.length -1) || isSubmit" [(ngModel)]="mul.facultyId" (change)="facultyChange($event)">
          <mat-option *ngFor="let fac of mul.faculty" [value]="fac.id">
            {{ fac.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-icon-button type="button" (click)="deleteFaculty(mul.facultyId)" *ngIf="!(i == (multiple.length - 1)) && !isSubmit">
        <mat-icon>cancel</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxLayoutGap="30px">
      <div *ngFor="let pro of mul.programDetails">
        <mat-checkbox (change)="checkChange($event,mul.facultyId,pro.id)" [checked]="pro.checked" [disabled]="isSubmit"> {{pro.name}}</mat-checkbox>
      </div>
    </div>

  </div>


</section>