<div>
    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div class="mat-elevation-z8" *ngIf="loaded">
        <div>
            <mat-form-field fxFlex class="dgSearchBar">
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
            </mat-form-field>
        </div>

        <mat-table #table [dataSource]="dataSource" *ngIf="loaded" matSort (matSortChange)="sortData()" matSortDisableClear>

            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['name']}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="subject">
                <mat-header-cell *matHeaderCellDef mat-sort-header> {{attrLabels['subject']}} </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.subject}} </mat-cell>
            </ng-container>




            <ng-container matColumnDef="options">
                <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                <mat-cell *matCellDef="let element" class="options">
                    <a [routerLink]="['/configuration/emailTemplates/view', element.id]" mat-icon-button>
                        <mat-icon matTooltip="View">visibility</mat-icon>
                    </a>
                    <a [routerLink]="['/configuration/emailTemplates/update', element.id]" mat-icon-button>
                        <mat-icon matTooltip="View">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete">
                        <mat-icon class="delete-icon">delete</mat-icon>
                    </a>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>

        <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true"></mat-paginator>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="accent" [routerLink]="['/configuration/emailTemplates/create']">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>