<div *ifPermitted="'workFlows.index'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <!-- <div class="message">
        <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
        <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
    </div> -->

    <div>

        <!-- Material Data Table -->
        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="loaded">

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded">

                    <ng-container matColumnDef="WFId">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['WFId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.WFId}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="title">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['title']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.title}} </mat-cell>
                    </ng-container>
                  
                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/configuration/workFlow/view', element.WFId]" mat-icon-button *ifPermitted="'workFlows.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>
                            <a [routerLink]="['/configuration/workFlow/update', element.WFId]" mat-icon-button *ifPermitted="'workFlows.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="deleteWorkFlow(element.WFId)" matTooltip="Delete" *ifPermitted="'workFlows.delete'">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="accent" [routerLink]="['/configuration/workFlow/create']" *ifPermitted="'workFlows.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>

<!-- </div> -->