<mat-card class="mcard" *ngIf="loaded">
    <div>
        <mat-card-title class="mc-title"></mat-card-title>

        <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
            <a [routerLink]="['/configuration/outGoingMailServers']" *ifPermitted="'outGoingMailServers.index'" mat-icon-button>
                <mat-icon matTooltip="List">list</mat-icon>
            </a>
            <a [routerLink]="['/configuration/outGoingMailServers/update', outGoingMailServer.id]" *ifPermitted="'outGoingMailServers.update'"
                mat-icon-button>
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
            <a mat-icon-button (click)="delete(outGoingMailServer.id)" matTooltip="delete" *ifPermitted="'outGoingMailServers.delete'">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
    </div>
    <mat-card-content>

        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">

                <mat-form-field fxFlex="60">
                    <input matInput [placeholder]="componentLabels.name" formControlName="name" required>
                    <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                </mat-form-field>
                <div fxFlex="40" class="default-check">
                    <mat-checkbox formControlName="isDefault">{{componentLabels.isDefault}}</mat-checkbox>
                    <!-- <mat-error *ngIf="fg.get('isDefault').hasError('required')">Default is required.</mat-error> -->
                </div>

            </div>
            <div fxLayout="row">

                <mat-form-field fxFlex="60" class="desc">
                    <textarea class="textarea-desc" matInput [placeholder]="componentLabels.description" formControlName="description" required></textarea>
                    <mat-error *ngIf="fg.get('description').hasError('required')">Description is required.</mat-error>
                </mat-form-field>
            </div>
            <div>
                <h2>Connection Information</h2>
                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                    <mat-form-field fxFlex="60">
                        <input matInput [placeholder]="componentLabels.smtpServer" formControlName="smtpServer" required>
                        <mat-error *ngIf="fg.get('smtpServer').hasError('required')">SMTP Server is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="40">
                        <input matInput [placeholder]="componentLabels.smtpPort" type="number" formControlName="smtpPort" required>
                        <mat-error *ngIf="fg.get('smtpPort').hasError('required')">SMTP Port is required.</mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div>
                <h2>Securitry and Authentication</h2>


                <div fxLayout="row" fxLayoutGap="20px" fxLayoutAlign="start center">
                    <mat-form-field fxFlex="60">
                        <input matInput [placeholder]="componentLabels.username" formControlName="username" required>
                        <mat-error *ngIf="fg.get('username').hasError('required')">Username is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="40">
                        <input matInput [placeholder]="componentLabels.password" type="password" formControlName="password" required>
                        <mat-error *ngIf="fg.get('password').hasError('required')">Password is required.</mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFlex="60" class="desc">
                        <mat-select [placeholder]="componentLabels.connectionSecurity" formControlName="connectionSecurity" required>
                            <mat-option *ngFor="let connection of connections" [value]="connection.value">
                                {{ connection.viewValue }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('connectionSecurity').hasError('required')">Connection Security is required.</mat-error>
                    </mat-form-field>
                    <mat-form-field fxFlex="40">
                        <mat-select [placeholder]="componentLabels.ownerId" formControlName="ownerId" *ifPermitted="'users.findAttributesList'" required>
                            <mat-option *ngFor="let user of users" [value]="user.id">
                                {{ user.username }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('ownerId').hasError('required')">Owner is required.</mat-error>
                    </mat-form-field>
                </div>


            </div>
            <div *ngIf="pageAct != pageActions.view" fxLayout="row" fxLayoutGap="10px">
                <div *ifPermitted="'outGoingMailServers.create'">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                </div>
                <div *ifPermitted="'outGoingMailServers.create'">
                    <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/configuration/outGoingMailServer']">Cancel</a>
                </div>
                <div *ifPermitted="'outGoingMailServers.create'">
                    <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/configuration/outGoingMailServer/view', outGoingMailServer.id]">Cancel</a>
                </div>
            </div>
        </form>

    </mat-card-content>
</mat-card>