<app-post-registration-header></app-post-registration-header>
<div fxLayout="row" fxLayoutAlign="space-around">

    <div class="content-width" fxFlex>
        <router-outlet></router-outlet>
    </div>

</div>