<div fxLayout="row" *ngIf="registration">
  <button fxFlex="20" mat-raised-button class="submit-button" [ngClass]="(selectedButton=='personal')? 'button-class' : 'as'" [routerLink]="['/post-registration/campus/personalinfo']"
    type="submit">Personal</button>
  <button fxFlex="20" mat-raised-button class="submit-button" [ngClass]="(selectedButton=='campus')? 'button-class' : 'as'" [routerLink]="['/post-registration/campus/campusinfo']" type="submit">Campus</button>
  <button fxFlex="20" mat-raised-button class="submit-button" [ngClass]="(selectedButton=='remittance')? 'button-class' : 'as'" [routerLink]="['/post-registration/campus/remittance']" type="button">Remittance</button>
  <button fxFlex="20" mat-raised-button class="submit-button" [routerLink]="['/post-registration/campus/submit']" type="button">Submit</button>
</div>