<section [formGroup]="fg" class="top-margin">

  <div fxLayout="row" fxLayoutAlign="space-between">

    <mat-form-field fxFlex="30">
      <input matInput placeholder="Suggested Campus Name" #message maxlength="50" formControlName="campusName">
      <mat-hint align="end">{{message.value.length}} / 50</mat-hint>
    </mat-form-field>

    <mat-form-field fxFlex="30">
      <input matInput placeholder="Level of Education" formControlName="levelOfEducation">
    </mat-form-field>

    <mat-form-field fxFlex="30">
      <input matInput [matDatepicker]="picker" placeholder="Tentative Session Start" formControlName="tentativeSessionStart">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <faculty-program-details [campusInfo]="camModel" [isSubmit]="isSubmit"></faculty-program-details>
  </div>
  <div>
    <mat-radio-group formControlName="buildingAvailable">
      <mat-radio-button [value]="true">Buliding Available</mat-radio-button>
      <mat-radio-button [value]="false">Buliding Not Available</mat-radio-button>
    </mat-radio-group>
  </div>


  <div *ngIf="fg.value.buildingAvailable">
    <campus-address [fg]="fg" [isSubmit]="isSubmit" [buildingAvailable]="true" [camModel]="camModel"></campus-address>
  </div>
  <div *ngIf="!fg.value.buildingAvailable">
    <campus-address [fg]="fg" [buildingAvailable]="false" [camModel]="camModel"></campus-address>
  </div>

  <section *ngIf="fg.value.buildingAvailable == true">

    <div>
      <campus-infrastructure [fg]="fg"></campus-infrastructure>
    </div>
  </section>


  <!--
  <section *ngIf="fg.value.buildingAvailable == false">
    <div>
      <campus-address [fg]="fg"></campus-address>
    </div>
    <div>
      <campus-address [fg]="fg"></campus-address>
    </div>

  </section> -->

</section>