<section [formGroup]="fg" class="top-margin">

  <div fxLayout="row" fxLayoutGap="100px">
    <div>Whether the Premises is: </div>
    <div>
      <mat-radio-group formControlName="buildingOwn" (change)="ownRentedChange($event)">
        <mat-radio-button [value]="true">Own</mat-radio-button>
        <mat-radio-button [value]="false">Rented</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>

  <div fxLayout="row" class="top-margin">

    <mat-form-field fxFlex="30" *ngIf="!ownRentedCondition">
      <input matInput placeholder="If Rented then Agreement Upto" formControlName="rentAgreementUpTo">
    </mat-form-field>

  </div>
  <div fxLayout="column">
    <div class="title-block"> Infrastructure</div>
    <div fxLayout="row" fxLayoutAlign="space-between">

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Covered Area (in SQ.ft)" type="number" formControlName="coverdArea">
        <mat-error *ngIf="fg.get('coverdArea').hasError('greaterThan') ">Invalid</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Open Area (in SQ.ft)" type="number" formControlName="openArea">
        <mat-error *ngIf="fg.get('openArea').hasError('greaterThan') ">Invalid</mat-error>
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Total Area (in SQ.ft)" type="number" formControlName="totalArea">
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">

      <mat-form-field fxFlex="30">
        <input matInput placeholder="No of Rooms" type="number" formControlName="roomsQuantity">
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Teaching Staff" type="number" formControlName="teachingStaffQuantity">
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="Non Teaching Staff" type="number" formControlName="nonTeachingStaffQty">
      </mat-form-field>

    </div>

    <div fxLayout="row" fxLayoutAlign="space-between">

      <mat-form-field fxFlex="30">
        <input matInput placeholder="No of Washrooms" type="number" formControlName="washroomsQuantity">
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="No of Labs" type="number" formControlName="labsQuantity">
      </mat-form-field>

      <mat-form-field fxFlex="30">
        <input matInput placeholder="No of Students" type="number" formControlName="studentsQuantity">
      </mat-form-field>

    </div>

    <div fxLayout="row" class="infra-block" fxLayoutAlign="space-between">


      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40">Playground:</div>
        <mat-radio-group formControlName="playGround">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40"> Cafeteria:</div>
        <mat-radio-group formControlName="cafeteria">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40">Swimming Pool:</div>
        <mat-radio-group formControlName="swimmingPool">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>


    <div fxLayout="row" class="infra-block" fxLayoutAlign="space-between">
      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40"> Transport:</div>
        <mat-radio-group formControlName="transport">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>

      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40">Health Clinic:</div>
        <mat-radio-group formControlName="healthClinic">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40"> Library:</div>
        <mat-radio-group formControlName="library">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
    </div>
    <div fxLayout="row" class="infra-block" fxLayoutAlign="space-between">

      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40">Mosque:</div>
        <mat-radio-group formControlName="mosque">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>
      <div fxLayout="row" fxFlex="30">
        <div fxFlex="40"> Bank Branch:</div>
        <mat-radio-group formControlName="bankBranch">
          <mat-radio-button [value]="true">Yes</mat-radio-button>
          <mat-radio-button [value]="false">No</mat-radio-button>
        </mat-radio-group>
      </div>




    </div>

  </div>

</section>