<div *ifPermitted="'programDetails.index'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div class="message">
        <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
        <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
    </div>

    <div>

        <!-- Material Data Table -->
        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="loaded">

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded">

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['name']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="programId">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['programId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.program.name}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/institute/programDetails/view', element.id]" mat-icon-button *ifPermitted="'programDetails.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>
                            <a [routerLink]="['/institute/programDetails/update', element.id]" mat-icon-button *ifPermitted="'programDetails.update'">
                                <mat-icon matTooltip="View">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="deleteProgram(element.id)" matTooltip="Delete" *ifPermitted="'programDetails.delete'">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>


        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="accent" [routerLink]="['/institute/programDetails/add']" *ifPermitted="'programDetails.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>

<!-- </div> -->