<mat-card *ifPermitted="'users.create'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div class="message">
        <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
        <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
    </div>

    <div *ngIf="loaded">
        <div fxFlex></div>
        <div class="top-buttons" *ngIf="pageAct == 'view'">
            <a [routerLink]="['/security/users']" mat-icon-button *ifPermitted="'users.index'">
                <mat-icon matTooltip="list">list</mat-icon>
            </a>
            <a [routerLink]="['/security/users/update', user.id]" mat-icon-button *ifPermitted="'users.update'">
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
            <a mat-icon-button (click)="delete(user.id)" matTooltip="delete" *ifPermitted="'users.delete'">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
    </div>

    <mat-card-content *ngIf="loaded">
        <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="stretch center">

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="userLabels.username" formControlName="username">
                    <mat-error *ngIf="fg.get('username').hasError('required')">Username is required</mat-error>
                </mat-form-field>
                <div>
                    <mat-checkbox fxFlex="50" formControlName="isActive">
                        {{userLabels.isActive}}
                    </mat-checkbox>
                </div>


            </div>
            <div fxLayout="row" fxLayoutGap="10px">
                <mat-form-field fxFlex="50" *ngIf="pageAct != 'update'">
                    <input matInput [placeholder]="userLabels.password" type="password" formControlName="password">
                    <mat-error *ngIf="fg.get('password').hasError('required')">Password is required</mat-error>
                </mat-form-field>
                <mat-form-field fxFlex="50" *ngIf="pageAct != 'update'">
                    <input matInput [placeholder]="userLabels.confirmPassword" type="password" formControlName="confirmPassword">
                    <mat-error *ngIf="fg.get('confirmPassword').hasError('required')">Confirm Password is required</mat-error>
                    <mat-error *ngIf="fg.get('confirmPassword').hasError('equalTo') && !fg.get('confirmPassword').hasError('required') ">Password did not match</mat-error>
                </mat-form-field>
            </div>

            <div *ngIf="pageAct != 'view'">
                <button mat-raised-button type="submit" [disabled]="pageAct != 'update' && fg.invalid" color="primary">Save</button>
                <a *ngIf="pageAct == 'add'" color="accent" mat-raised-button [routerLink]="['/security/users']">Cancel</a>
                <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/security/users/view', user.id]">Cancel</a>
            </div>
        </form>
    </mat-card-content>
</mat-card>