<div *ifPermitted="'metaConf.find'">
    <div class="dialog-title">
        {{data.action}}
    </div>

    <form [formGroup]="fg" (ngSubmit)="saveData(fg.value)" #form="ngForm">
        <div fxLayout="row" style="margin:15px 0px">
            <mat-form-field fxFlex>
                <input matInput [placeholder]="componentLabels.metaValue" formControlName="metaValue">
                <mat-error *ngIf="fg.get('metaValue').hasError('required')">Required.</mat-error>
            </mat-form-field>

        </div>

        <div>
            <div *ifPermitted="'metaConf.create'">
                <button mat-raised-button [disabled]="!form.valid" color="accent" type="submit">Save</button>
                <button mat-raised-button mat-dialog-close type="button" (click)="onNoClick()">Cancel</button>
            </div>
        </div>
    </form>
</div>