<div class="file-input-outer-wrapper">
    <div class="file-input-wrapper">
        <span class="span-file-input">
            <mat-icon>file_upload</mat-icon>
            <label>File Upload</label>
        </span>
        <input placeholder="Upload" (change)="upload()" type="file" #fileInput>
    </div>
    <div>
        {{ fileName }}
    </div>
</div>