.file-input-wrapper {
  height: 40px;
  overflow: hidden;
  position: relative;
  background-color: #5c6bc0;
  color: white;
}
.file-input-wrapper > input[type='file'] {
  position: absolute;
  width: 120px;
  height: 40px;
  top: 0;
  right: 0;
  left: 0;
  opacity: 0;
}

.file-input-wrapper > .span-file-input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  cursor: pointer;
}
.file-input-wrapper:hover > .span-file-input {
  background-color: #3949ab;
  cursor: pointer;
}
.file-input-outer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 125px;
}
