<div *ifPermitted="'educationLevels.find'">
    <mat-card class="mcard" *ngIf="loaded">
        <div>
            <mat-card-title class="mc-title"></mat-card-title>

            <div class="mc-action-btn" *ngIf="pageAct == pageActions.view">
                <a [routerLink]="['/institute/educationLevels']" mat-icon-button *ifPermitted="'educationLevels.index'">
                    <mat-icon matTooltip="List">list</mat-icon>
                </a>
                <a [routerLink]="['/institute/educationLevels/update', educationLevel.id]" mat-icon-button *ifPermitted="'educationLevels.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="delete(educationLevel.id)" matTooltip="delete" *ifPermitted="'educationLevels.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>

            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.education" formControlName="education">
                        <mat-error *ngIf="fg.get('education').hasError('required')">Education Level is required.</mat-error>
                        <mat-error *ngIf="fg.get('education').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="50">
                        <mat-select [placeholder]="componentLabels.instituteTypeId" formControlName="instituteTypeId">
                            <mat-option *ngFor="let instituteType of instituteTypes" [value]="instituteType.id">
                                {{ instituteType.name }}
                            </mat-option>
                        </mat-select>
                        <mat-error *ngIf="fg.get('instituteTypeId').hasError('required')">Institute Type is required.</mat-error>
                    </mat-form-field>

                </div>

                <div *ngIf="pageAct != pageActions.view">
                    <div *ifPermitted="'educationLevels.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/institute/educationLevels']">Cancel</a>
                        <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/institute/educationLevels/view', educationLevel.id]">Cancel</a>
                    </div>
                </div>
            </form>

        </mat-card-content>
    </mat-card>
</div>