.remittance-mat-card-content {
  padding-top: 50px;
}
.button-class {
  background-color: #679fdc;
  color: white;
}
.submit-button {
  background-color: #4da00e;
  color: white;
  width: 200px;
  height: 40px;
  font-size: 16px;
  margin-left: 20px;
}

.error-heading {
  color: red;
  margin: 0px 0px 0px 100px;
}

.done-icon {
  color: green;
  cursor: default;
}
.done-heading {
  color: green;
  margin: 0px 0px 0px 100px;
}
ul {
  margin-left: 100px;
}
