<mat-card>
  <shared-overlay *ngIf="!loaded"></shared-overlay>
  <div *ngIf="loaded">
    <div fxLayout="row">
      <button fxFlex="20" mat-raised-button [routerLink]="['/post-registration/campus/personalinfo']" type="button">Personal</button>
      <button fxFlex="20" mat-raised-button [routerLink]="['/post-registration/campus/campusinfo']" type="button">Campus</button>
      <button fxFlex="20" mat-raised-button [routerLink]="['/post-registration/campus/remittance']" type="button">Remittance</button>
      <button fxFlex="20" mat-raised-button class="button-class" [routerLink]="['/post-registration/campus/submit']" type="submit">Submit</button>
    </div>

    <!-- if no error is there and all the fields are filled -->
    <div *ngIf="personalInfoErrors.length === 0 && campusInfoErrors.length === 0 && remittanceErrors.length === 0">
      <mat-card-content class="remittance-mat-card-content" fxLayout="column" fxLayoutGap="20px" *ngIf="!isSubmit ">
        <h1>Completed!</h1>
        <p>
          You have successfully filled all information. Now, Submit your application.
        </p>
        <button mat-raised-button type="submit" class="submit-button" (click)="submit()" *ngIf="!isSubmit">Submit</button>
      </mat-card-content>
      <mat-card-content class="remittance-mat-card-content" fxLayout="column" fxLayoutGap="20px" *ngIf="isSubmit">
        <h1>Submitted</h1>
        <p>
          You have Submitted your registration.
        </p>
        <button mat-raised-button type="submit" class="submit-button" (click)="submit()" *ngIf="!isSubmit">Submit</button>
      </mat-card-content>
    </div>

    <!-- if fields are missing -->
    <div *ngIf="personalInfoErrors.length > 0 || campusInfoErrors.length > 0 || remittanceErrors.length > 0">
      <mat-card-content class="remittance-mat-card-content" fxLayout="column" fxLayoutGap="20px">
        <h2>You need to fill out the following information.</h2>

        <!-- if one component is filled -->
        <div *ngIf="personalInfoErrors.length === 0" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <h3 class="done-heading"> Personal Information</h3>
            <mat-icon class="done-icon"> done </mat-icon>
          </div>
        </div>
        <div *ngIf="campusInfoErrors.length === 0" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <h3 class="done-heading"> Campus Information</h3>
            <mat-icon class="done-icon"> done </mat-icon>
          </div>
        </div>
        <div *ngIf="remittanceErrors.length === 0" fxLayout="column">
          <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
            <h3 class="done-heading"> Remittance Information</h3>
            <mat-icon class="done-icon "> done </mat-icon>
          </div>
        </div>

        <!-- checking and showing all errors -->
        <div *ngIf="personalInfoErrors.length > 0" fxLayout="column">
          <h3 class="error-heading"> Personal Information</h3>
          <ul>
            <li *ngFor="let personalInfoError of personalInfoErrors"> {{personalInfoError}}</li>
          </ul>

        </div>

        <div *ngIf="campusInfoErrors.length > 0" fxLayout="column">
          <h3 class="error-heading"> Campus Information</h3>
          <ul>
            <li *ngFor="let campusInfoError of campusInfoErrors"> {{campusInfoError}}</li>
          </ul>

        </div>

        <div *ngIf="remittanceErrors.length > 0" fxLayout="row" fxLayout="column">
          <h3 class="error-heading"> Remittance Information</h3>
          <ul>
            <li *ngFor="let remittanceError of remittanceErrors"> {{remittanceError}}</li>
          </ul>

        </div>

        <!-- <button mat-raised-button type="submit" class="submit-button" (click)="submit()" *ngIf="!isSubmit">Submit</button> -->
      </mat-card-content>
    </div>

  </div>

</mat-card>