<shared-overlay *ngIf="!loaded"></shared-overlay>
<mat-card *ngIf="loaded" style="padding-top: 10px;">
  
  <mat-card-title>
    <campus-registration [selectedButton]="'personal'"></campus-registration>
  </mat-card-title>
  <mat-card-content>
  
    <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">
      
      <div fxLayout="row" fxLayoutGap="10px">

        <mat-form-field fxFlex="100">
          <input matInput [placeholder]="componentLabels.fullName" #name maxlength="50" formControlName="fullName">
          <mat-error *ngIf="fg.get('fullName').hasError('required')">Full Name is required.</mat-error>
          <mat-error *ngIf="fg.get('fullName').hasError('maxlength')">Exceeding Maximum length.</mat-error>
          <mat-hint align="end">{{name.value.length}} / 50</mat-hint>
        </mat-form-field>

      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">

        <mat-form-field fxFlex="45">
          <input matInput [placeholder]="componentLabels.mobileNumber" formControlName="mobileNumber" [textMask]="{mask: mobileMask}">
          <mat-error *ngIf="fg.get('mobileNumber').hasError('maxlength')">Exceeding Maximum length.</mat-error>
        </mat-form-field>
        <mat-form-field fxFlex="45">
          <input matInput [placeholder]="componentLabels.email" #emailChar maxlength="50" formControlName="email">
          <mat-error *ngIf="fg.get('email').invalid">{{getEmailErrorMessage()}}</mat-error>
          <mat-hint align="end">{{emailChar.value.length}} / 50</mat-hint>
        </mat-form-field>
      </div>
      <div fxLayout="row">
        <mat-form-field fxFlex="100">
          <input matInput [placeholder]="componentLabels.address" #message maxlength="100" formControlName="address">
          <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
          <mat-error *ngIf="fg.get('address').hasError('maxlength')">Exceeding Maximum length.</mat-error>
        </mat-form-field>
      </div>
      <div fxLayout="row" fxLayoutAlign="space-between">

        <mat-form-field fxFlex="45">
          <input matInput [placeholder]="componentLabels.cnic" formControlName="cnic" [textMask]="{mask: cnicMask}">
          <mat-error *ngIf="fg.get('cnic').hasError('required')">CNIC is Required.</mat-error>
        </mat-form-field>

      </div>
      <div fxLayout="row" class="select-box" fxLayoutAlign="space-between">
        <div fxFlex="45" fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="45">
            <mat-select [placeholder]="componentLabels.countryId" formControlName="countryId">
              <mat-option *ngFor="let con of countries" [value]="con.id">
                {{ con.metaValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field fxFlex="45">
            <mat-select [placeholder]="componentLabels.provinceId" formControlName="provinceId">
              <mat-option *ngFor="let con of province" [value]="con.id">
                {{ con.metaValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="45" fxLayout="row" fxLayoutAlign="space-between">
          <mat-form-field fxFlex="45">
            <mat-select [placeholder]="componentLabels.cityId" formControlName="cityId">
              <mat-option *ngFor="let con of cities" [value]="con.id">
                {{ con.metaValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field fxFlex="45">

            <mat-select [placeholder]="componentLabels.tehsilId" formControlName="tehsilId">
              <mat-option *ngFor="let con of tehsils" [value]="con.id">
                {{ con.metaValue }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div fxLayout="row" class="select-box" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="45">
          <mat-select [placeholder]="componentLabels.natureOfWorkId" formControlName="natureOfWorkId" class="select-box">
            <mat-option *ngFor="let con of natureOfwork" [value]="con.id">
              {{ con.metaValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field fxFlex="45">
          <input matInput [placeholder]="componentLabels.approxMonthlyIncome" max="99999999999" type="number" formControlName="approxMonthlyIncome">
        </mat-form-field>
      </div>
      <div fxLayout="row" class="select-box" fxLayoutAlign="space-between">
        <mat-form-field fxFlex="100">
          <mat-select [placeholder]="componentLabels.nearestBankId" formControlName="nearestBankId" class="select-box">
            <mat-option *ngFor="let con of bank" [value]="con.id">
              {{ con.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>

      </div>
      <div fxLayout="row">
        <span class="sub-heading">Personal Reference</span>
      </div>


      <div formArrayName="references" *ngFor="let item of fg.get('references').controls; let i = index;">
        <div [formGroupName]="i" fxLayout="row" fxLayoutAlign="space-between">
          <div fxFlex="45" fxLayoutAlign="space-between">

            <mat-form-field fxFlex="45">
              <input matInput placeholder="Full Name" formControlName="refName">
            </mat-form-field>
            <mat-form-field fxFlex="45">
              <input matInput placeholder="Mobile Number" formControlName="refMobileNumber" [textMask]="{mask: mobileMask}">
            </mat-form-field>
          </div>
          <div fxFlex="45">
            <mat-form-field fxFlex="90">
              <input matInput placeholder="Address" #message maxlength="100" formControlName="refAddress">
              <mat-hint align="end">{{message.value.length}} / 100</mat-hint>
            </mat-form-field>
            <button mat-icon-button type="button" (click)="addReferenceClick()" *ngIf="fg.get('references').controls.length == i+1 && !isSubmit ">
              <mat-icon>add</mat-icon>
            </button>
            <button mat-icon-button type="button" (click)="removeReference(i,item)" *ngIf="!(fg.get('references').controls.length == 1) && !isSubmit">
              <mat-icon>cancel</mat-icon>
            </button>
          </div>

        </div>

      </div>





      <div *ngIf="!isSubmit">

        <button mat-raised-button type="submit" [disabled]="fg.invalid " color="primary">Save & Next</button>
      </div>


    </form>
  </mat-card-content>
</mat-card>