<div *ifPermitted="'workFlows.find'">
    <mat-card>
        <shared-overlay *ngIf="!loaded"> </shared-overlay>

        <div *ngIf="loaded">
            <div fxFlex></div>
            <div class="top-buttons" *ngIf="pageAct == 'view'">
                <!-- <a matTooltip="List" [routerLink]="['/configuration/workFlow']" mat-icon-button *ifPermitted="'workFlow.index'">
                    <mat-icon>list</mat-icon>
                </a> -->
                <a [routerLink]="['/configuration/workFlow/update', workFlow.WFId]" mat-icon-button *ifPermitted="'workFlows.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="deleteRecord(workFlow.WFId)" matTooltip="delete" *ifPermitted="'workFlows.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content *ngIf="loaded">
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" >

                <div fxLayout="row" >
                    <div fxFlex="15" class="heading">ID</div>
                    <div fxFlex="30">{{workFlow.WFId}}</div>
                    <div fxFlex="15" class="heading">Title</div>
                    <div fxFlex="30">{{workFlow.title}}</div>
                    
                

                </div>

                <div fxLayout="row" >
                        <div fxFlex="15" class="heading">Description</div>
                        <div fxFlex="70">{{workFlow.description}}</div>
          
                </div>

                
            </form>
        </mat-card-content>
    </mat-card>
    <div style="padding-top: 10px;">
        <work-flow-state [WFId]="id"></work-flow-state>
    </div>

    <div style="padding-top: 10px;">
        <wf-state-flow [WFId]="id"></wf-state-flow>
    </div>

</div>