<div class="main-content">
  <mat-card>
    <mat-card-title>
      Login
      <div class="divider"></div>
    </mat-card-title>
    <mat-card-content>
      <form #loginForm="ngForm" [formGroup]="fg" (ngSubmit)="login(loginForm.value)" class="login-form">
        <mat-form-field floatLabel="never" shouldLabelFloat="false">
          <input matInput class="input" [placeholder]="attributesLabels.username" formControlName="username" required>
        </mat-form-field>
        <mat-form-field class="password" floatLabel="never">
          <input matInput class="input" [placeholder]="attributesLabels.password" type="password" formControlName="password" required
            ngModel>
            <shared-cmat-error *ngIf="authError" [errorMsg]="authError.message"></shared-cmat-error>
        </mat-form-field>
        <div>
          <button style="width: 100%;" mat-raised-button class="submit-button" color="accent" [disabled]="!loginForm.form.valid" type="submit">Sign In</button>
        </div>

        <div class="forgetPassword" [ngClass]="['forgerPassword']">
          <a href="forgetPassword">Forget Password</a>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>