
.role-record {
  margin-left: 20px;
}

.fset{
  border: 1px solid silver;
  border-radius: 3px;
  margin-bottom:10px;
}

.fs-group{
  margin: 3px 0px 10px 0px;
}

.fs-item{
  float:left;
  width: 230px;
}

.clear{
  clear:both;
}

.disable {
  pointer-events: none;
  opacity: 0.4;
}