<div *ifPermitted="'roles.find'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>
    <div *ngIf="loaded">
        <mat-card class="mcard">
            <div>
                <mat-card-title class="mc-title">Description</mat-card-title>
                <div class="mc-action-btn">
                    <a [routerLink]="['/security/roles/update', role.id]" mat-icon-button *ifPermitted="'roles.update'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="delete(role.id)" matTooltip="delete" *ifPermitted="'roles.delete'">
                        <mat-icon>delete</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <div>{{(role.description == null ? 'N/A' : role.description)}}</div>
            </mat-card-content>
        </mat-card>

        <div fxLayout>

            <mat-card fxFlex="100" class="mcard">
                <div>
                    <mat-card-title class="mc-title">Users</mat-card-title>
                    <div class="mc-action-btn">
                        <a mat-icon-button (click)="assignUser(role.id)">
                            <mat-icon matTooltip="Assign Group">add</mat-icon>
                        </a>
                    </div>
                </div>
                <mat-card-content>
                    <div fxLayout="column" class="role-record">
                        <div *ngFor="let assignedUser of role.assignedUsers" fxLayout>
                            <mat-form-field fxFlex="50" class="hover-effect">
                                <input matInput [placeholder]="userLabels.username" name="role" [(ngModel)]="assignedUser.user.username" [readonly]="true">
                                <mat-icon matSuffix color="warn" class="options" (click)="deleteUser(assignedUser.id)">delete</mat-icon>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <mat-card class="mcard" *ifPermitted="'roles.findAllFeatures'">
            <div>
                <mat-card-title class="mc-title">Permissions</mat-card-title>
                <div class="mc-action-btn">
                    <a mat-icon-button (click)="enableEditMode()" *ifPermitted="'featurePermissions.updateRolePermissions'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                </div>
            </div>
            <mat-card-content>
                <mat-progress-bar *ngIf="showDivBar" mode="indeterminate"></mat-progress-bar>
                <div [ngClass]="{'disable': enableClass}">
                    <form (ngSubmit)="changePermission(role.id)" #form="ngForm">

                        <fieldset *ngFor="let assignedPermission of role.assignedPermissions let index = index" class="fset">
                            <legend>{{assignedPermission.title}}:</legend>
                            <div class="fs-group">
                                <div class="fs-item" *ngFor="let permission of assignedPermission.children let i = index">
                                    <mat-checkbox fxFlexOffset="20px" name="{{index}}-permission-{{i}}" [(ngModel)]="permission.status">{{permission.title}}</mat-checkbox>
                                </div>
                                <div class="clear"></div>
                            </div>
                        </fieldset>

                        <mat-card-footer class="permissions-footer" *ifPermitted="'roleAssignments.assignToUser'">
                            <button mat-raised-button color="primary" [disabled]="enableClass" type="submit">Save</button>
                        </mat-card-footer>
                    </form>
                </div>
            </mat-card-content>
        </mat-card>

        <role-wf-state-flow [roleId]="role.id"></role-wf-state-flow>
    </div>
</div>