<header fxLayout="row" fxLayoutAlign="space-between" class="header-block">
  <div fxLayout="row" routerLink="/home">
    <img src="../../../../../../assets/images/munivLogo.png" alt="Mekdiz University" class="logo">

    <h1>Mekdiz University</h1>
  </div>
  <div fxLayout="row" fxFlex="30" fxLayoutGap="10px" class="header-nav" fxLayoutAlign="space-evenly">
    <a routerLink="/home">Login</a>
    <a href="#">FAQ</a>
    <a href="#">Contact</a>
  </div>



</header>