.header-block {
  background-color: #eaeaea;
  font-family: 'Roboto', arial, sans-serif;
}
.logo {
  height: 100px;
  width: 100px;
}
.header-nav {
  margin-top: 35px;
  font-size: 25px;
}
h1 {
  font-weight: 300;
  font-size: 3em;
  margin: 25px;
  color: #414141;
  font-size: 36px;
  letter-spacing: -0.2px;
}
