.c-overlay {
  /* position: absolute; */
  /* left: 0; */
  /* right: 0; */
  /* top: 0; */
  /* bottom: 0; */
  /* background-color: red; */
  /* background-color: rgba(0, 0, 0, 0.1); */
  /* z-index: 20000; */
  display: flex;
  justify-content: center;
  /* padding-top: 10%; */
  margin: 10%;
  /* text-align:center */
}
