h1 {
  min-height: 200px;
  background-color: #ccc;
  text-align: center;
  line-height: 200px;
}

.leftRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  left: 0;
}

.rightRs {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  border-radius: 999px;
  right: 0;
}

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 15vh;
}

.submit-button {
  padding: 0;
  background-color: #36b0e9;
  margin-top: 0px;
}

.registration-button {
  width: 40%;
  background-color: #e6721d;
  color: white;
  height: 70px;
  font-size: 25px;
}

.divider {
  border-bottom: 4px solid #36b0e9;
  width: 25%;
  margin-top: 2%;
  margin-bottom: 8%;
}

.forgetPassword {
  margin-top: 15px;
  text-align: right;
}

.forgetPassword a {
  text-decoration: none;
  color: gray;
}

.forgetPassword a:hover {
  text-decoration: underline;
  color: black;
}

.passpassword {
  margin-top: -35px;
}

.home-section {
  padding: 0px 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 20px;
}

.home-mat-card {
  height: 372px;
}

/* for login  */

.submit-button {
  padding: 0;
  background-color: #36b0e9;
  margin-top: 0px;
}

.divider {
  border-bottom: 4px solid #36b0e9;
  width: 25%;
  margin-top: 2%;
  margin-bottom: 8%;
}

.forgetPassword {
  margin-top: 15px;
  text-align: right;
}

.forgetPassword a {
  text-decoration: none;
  color: gray;
}

.forgetPassword a:hover {
  text-decoration: underline;
  color: black;
}

.passpassword {
  margin-top: -35px;
}

.slider-img {
  margin-right: 10px;
  max-width: 300px;
}