<ngx-carousel [inputs]="carouselTile">

  <ngx-tile NgxCarouselItem *ngFor="let Tile of carouselTileItems">
    <div>
      <!-- style="width: 100px;" put it in above div -->
      <img class="slider-img" src={{Tile}} alt="" height="350px">

    </div>

  </ngx-tile>

  <button NgxCarouselPrev class='leftRs'>&lt;</button>
  <button NgxCarouselNext class='rightRs'>&gt;</button>
</ngx-carousel>
<section class="home-section" fxLayout="row" fxLayoutGap="10px">
  <div fxFlex>
    <mat-card style="min-height: 300px;">
      <mat-card-title>Campus Registration Program</mat-card-title>
      <div class="content">
        <mat-card-content>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti
          quos dolores et quas.ngFor molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa
          qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem. rerum facilis est et expedita
          distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
          placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut
          officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae.
          Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut
          perferendis doloribus asperiores repellat.

        </mat-card-content>
        <div>
          <button routerLink="/home/applyForRegistration" mat-raised-button class="registration-button">Apply For Registration</button>
        </div>
      </div>

    </mat-card>
  </div>
  <div fxFlex="35">
    <mat-card style="min-height: 300px;">
      <mat-card-title>
        Login
        <div class="divider"></div>
      </mat-card-title>
      <mat-card-content>
        <form #loginForm="ngForm" [formGroup]="fg" (ngSubmit)="login(loginForm.value)" fxLayout="column">
          <mat-form-field floatLabel="never" shouldLabelFloat="false">
            <input matInput class="input" [placeholder]="attributesLabels.username" formControlName="username" required>
          </mat-form-field>
          <mat-form-field class="password" floatLabel="never">
            <input matInput class="input" [placeholder]="attributesLabels.password" type="password" formControlName="password" required
              ngModel>
            <shared-cmat-error *ngIf="authError" [errorMsg]="authError.message"></shared-cmat-error>
          </mat-form-field>
          <div>
            <button style="width: 100%;" mat-raised-button class="submit-button" color="accent" [disabled]="!loginForm.form.valid" type="submit">Sign In</button>
          </div>

          <div class="forgetPassword" [ngClass]="['forgerPassword']">
            <a href="forgetPassword">Forget Password</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</section>