<div *ifPermitted="'faculties.find'">
    <mat-card class="mcard">

        <shared-overlay *ngIf="!loaded"> </shared-overlay>

        <div *ngIf="loaded">
            <div fxFlex></div>
            <div class="top-buttons">
                <a matTooltip="List" [routerLink]="['/institute/faculties']" mat-icon-button *ifPermitted="'faculties.index'">
                    <mat-icon>list</mat-icon>
                </a>
                <a [routerLink]="['/institute/faculties/update', faculty.id]" mat-icon-button *ifPermitted="'faculties.update'">
                    <mat-icon matTooltip="Edit">edit</mat-icon>
                </a>
                <a mat-icon-button (click)="deleteRecord(faculty.id)" matTooltip="delete" *ifPermitted="'faculties.delete'">
                    <mat-icon>delete</mat-icon>
                </a>
            </div>
        </div>

        <mat-card-content *ngIf="loaded">
            <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px">
                <div fxLayout="row" fxLayoutGap="10px">
                    <mat-form-field fxFlex="100">
                        <input matInput [placeholder]="componentLabels.name" formControlName="name">
                    </mat-form-field>
                </div>
            </form>
        </mat-card-content>
    </mat-card>
    <div *ifPermitted="'facultyProgramDetails.index'"></div>
    <mat-card class="mcard">
        <mat-card-title class="mc-title">Program Details</mat-card-title>
        <div class="mc-action-btn">
            <a mat-icon-button (click)="enableEditMode()" *ifPermitted="'facultyProgramDetails.update'">
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
        </div>
        <mat-card-content>

            <mat-list *ngIf="facultyProgramDetailsloaded && facultyProgramDetails.length > 0 && !editMode">
                <div fxLayout="row" class="pd-header">
                    <mat-list-item fxFlex="40">{{facultyProgramDetailLabels.program}}</mat-list-item>
                    <mat-list-item fxFlex="60">{{facultyProgramDetailLabels.programDetail}}</mat-list-item>
                </div>
                <mat-divider></mat-divider>
                <div *ngFor="let facultyProgramDetail of facultyProgramDetails; let last = last">
                    <div fxLayout="row" class="pd-row">
                        <mat-list-item fxFlex="40"> {{facultyProgramDetail.programDetail.program.name}} </mat-list-item>
                        <mat-list-item fxFlex="60"> {{facultyProgramDetail.programDetail.name}} </mat-list-item>
                    </div>
                    <mat-divider *ngIf="!last"></mat-divider>
                </div>
            </mat-list>
            <div *ngIf="editMode">
                <mat-list>
                    <div fxLayout="row" class="pd-header">
                        <mat-list-item fxFlex="30">{{facultyProgramDetailLabels.program}}</mat-list-item>
                        <mat-list-item fxFlex="50">{{facultyProgramDetailLabels.programDetail}}</mat-list-item>
                        <mat-list-item fxFlex="20">{{facultyProgramDetailLabels.status}}</mat-list-item>
                    </div>
                    <mat-divider></mat-divider>
                    <div *ngFor="let programDetail of programDetailsList; let last = last; let index = index">
                        <div fxLayout="row" class="pd-row">
                            <mat-list-item fxFlex="30"> {{programDetail.program.name}} </mat-list-item>
                            <mat-list-item fxFlex="50"> {{programDetail.name}} </mat-list-item>
                            <mat-list-item fxFlex="20">
                                <mat-checkbox [checked]="programDetail.status" (change)="change($event, programDetail.id)">
                                </mat-checkbox>
                            </mat-list-item>
                        </div>
                        <mat-divider *ngIf="!last"></mat-divider>
                    </div>
                </mat-list>
                <div>
                    <button mat-raised-button type="button" (click)="update()" color="primary">Save</button>
                    <button mat-raised-button type="button" (click)="cancel()">Cancel</button>
                    <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/institute/faculties']">Cancel</a>
                </div>
            </div>
        </mat-card-content>
    </mat-card>
</div>