.active {
  background-color: #3f51b5;
  color: white;
}

a:hover {
  background-color: #919edd !important;
  color: black;
}

.active .material-icons {
  padding-right: 10px;
  color: white;
}

.material-icons {
  padding-right: 10px;
  color: #3f51b5;
}
.left-nav-list {
  padding-top: 0px;
  width: 220px;
  border-right: 1px solid #e1e1e1;
  height: 100%;
}

.left-col-head {
  text-align: center;
}
.left-col-head .logo-img {
  width: 124px;
  height: 124px;
}
.menu-heading {
  font-size: 14px;
  font-weight: bold;
  margin: 10px 0px 4px 5px;
}
.item-text {
  font-size: 15px;
}
