<div class="left-nav-list">
    <div class="left-col-head">
        <img class="logo-img" src="/assets/images/munivLogo.png">
        <h4>Education Information System</h4>
    </div>
    <mat-divider matInset></mat-divider>
    <mat-nav-list>
        <div class="left-nav" *ngIf="loaded && moduleMenuItems">

            <ng-template let-item let-last="last" ngFor [ngForOf]="moduleMenuItems">

                <div class="menu-heading">{{item.heading}}</div>

                <div *ngFor="let menuItem of item.menuItems">
                    <a mat-list-item [class.active]="clicked === menuItem.title" (click)="navigateToUrl(menuItem)" *ifPermitted="menuItem['perm']">
                        <i class="material-icons">{{menuItem.icon}} </i>
                        <span class="heading" class="item-text">{{menuItem.title}} </span>
                    </a>
                    <mat-divider matInset *ngIf="!last"></mat-divider>
                </div>

            </ng-template>
        </div>
    </mat-nav-list>
</div>