<div *ifPermitted="'licenseFees.index'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div>

        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="loaded">

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded">

                    <ng-container matColumnDef="educationLevelId">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['educationLevelId']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.educationLevel.education}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="amount">
                        <mat-header-cell *matHeaderCellDef> {{attrLabels['amount']}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.amount}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            <a [routerLink]="['/institute/licenseFees/view', element.id]" mat-icon-button *ifPermitted="'licenseFees.find'">
                                <mat-icon matTooltip="View">visibility</mat-icon>
                            </a>
                            <a [routerLink]="['/institute/licenseFees/update', element.id]" mat-icon-button *ifPermitted="'licenseFees.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button (click)="delete(element.id)" matTooltip="Delete" *ifPermitted="'licenseFees.delete'">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
                </mat-paginator>
            </div>


        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="accent" [routerLink]="['/institute/licenseFees/create']" *ifPermitted="'licenseFees.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>

<!-- </div> -->