<div fxLayout *ifPermitted="'WFStateFlows.list'">
    <!-- <shared-overlay *ngIf="!loaded"> </shared-overlay> -->
    <mat-card fxFlex="100" class="mcard" *ngIf="loaded">
        <div>
            <mat-card-title class="mc-title">States Flow</mat-card-title>
            <div class="mc-action-btn">
                <a mat-icon-button (click)="addStateClick()" *ifPermitted="'WFStateFlows.create'">
                    <mat-icon matTooltip="Add Flow">add</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>
            <div >
                <mat-table #table [dataSource]="dataSource">


                    <!-- Name Column -->
                    <ng-container matColumnDef="from">
                        <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
                    </ng-container>

                    <!-- Weight Column -->
                    <ng-container matColumnDef="to">
                        <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">
                            
                            <a (click)="editClick(element.id,element.state)" mat-icon-button *ifPermitted="'WFStateFlows.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a> 
                            <a mat-icon-button (click)="deleteWFStateFlow(element.id)"  matTooltip="Delete" *ifPermitted="'WFStateFlows.delete'">
                                <mat-icon class="delete-icon">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>


                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        
        </mat-card-content>
    </mat-card>
</div>