<div *ifPermitted="'metaConf.index'">
    <shared-overlay *ngIf="!loaded"> </shared-overlay>
    <div class="message">
        <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
        <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
    </div>

    <div>

        <div class="mat-elevation-z8">
            <div>
                <mat-form-field fxFlex class="dgSearchBar">
                    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                </mat-form-field>
            </div>
            <div *ngIf="loaded">

                <mat-table #table [dataSource]="dataSource" *ngIf="loaded">

                    <ng-container matColumnDef="metaValue">
                        <mat-header-cell *matHeaderCellDef> {{pageTitle}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.metaValue}} </mat-cell>
                    </ng-container>


                    <ng-container matColumnDef="options">
                        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
                        <mat-cell *matCellDef="let element" class="options">

                            <a mat-icon-button (click)="openForm('Update',element.id)" *ifPermitted="'metaConf.update'">
                                <mat-icon matTooltip="Edit">edit</mat-icon>
                            </a>
                            <a mat-icon-button matTooltip="Delete" *ifPermitted="'metaConf.delete'">
                                <mat-icon class="delete-icon" (click)="deleteClick(element.id)">delete</mat-icon>
                            </a>
                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>

            <mat-paginator #paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [showFirstLastButtons]="true">
            </mat-paginator>
        </div>

    </div>
    <div class="right-bottom-button">
        <a mat-fab color="accent" (click)="openForm('Add New','')" *ifPermitted="'metaConf.create'">
            <mat-icon>add</mat-icon>
        </a>
    </div>
</div>