.profile-photo {
  margin-left: auto;
  margin-top: 10px;
  margin-right: 10px;
  width: 7em;
  height: 7em;
}

.user-info {
  display: flex;
}

.user-personal-info {
  flex: 1 1 50%;
  margin: 5px 1% 5px 1%;
}

.user-company-info {
  flex: 1 1 50%;
  margin: 5px 1% 5px 1%;
}

.single-qualification {
  margin: 5px 1% 5px 1%;
  font-size: 18px;
  padding-top: 20px;
}
.options {
  /* display: flex;
  justify-content: flex-end; */
  /* text-align: end;
  visibility: hidden; */
}

.mat-row:hover .options {
  visibility: visible;
}
