<mat-card *ifPermitted="'licenseFees.find'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div *ngIf="loaded">
        <div fxFlex></div>
        <div class="top-buttons" *ngIf="pageAct == 'view'">
            <a matTooltip="Edit" [routerLink]="['/institute/licenseFees']" mat-icon-button *ifPermitted="'licenseFees.index'">
                <mat-icon>list</mat-icon>
            </a>
            <a [routerLink]="['/institute/licenseFees/update', licenseFee.id]" mat-icon-button *ifPermitted="'licenseFees.update'">
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
            <a mat-icon-button (click)="delete(licenseFee.id)" matTooltip="Delete" *ifPermitted="'licenseFees.delete'">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
    </div>

    <mat-card-content *ngIf="loaded">
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="row" fxLayoutGap="10px">

                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.educationLevelId" formControlName="educationLevelId">
                        <mat-option *ngFor="let level of educationLevel" [value]="level.id">
                            {{ level.education }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('educationLevelId').hasError('required')">Level Of Education is required.</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.amount" formControlName="amount" type="number">
                    <mat-error *ngIf="fg.get('amount').hasError('required')">Amount is required.</mat-error>
                </mat-form-field>


            </div>

            <div fxLayout="row" fxLayoutGap="10px">

            </div>

            <div *ngIf="pageAct != 'view'">
                <div *ifPermitted="'licenseFees.create'">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    <a *ngIf="pageAct == 'create'" color="accent" mat-raised-button [routerLink]="['/institute/licenseFees']">Cancel</a>
                    <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/institute/licenseFees/view', licenseFee.id]">Cancel</a>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>