<mat-card *ifPermitted="'evaluationSheets.find'" class="mcard">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div *ngIf="loaded">
        <div class="top-buttons" fxLayout fxLayoutAlign="end stretch">
            <a [routerLink]="['/configuration/evaluationSheets/update', evaluationSheet.id]" mat-icon-button *ifPermitted="'evaluationSheets.update'">
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
        </div>

        <mat-card-content>
            <form novalidate [formGroup]="fg" (ngSubmit)="saveData(fg.value)">

                <div fxLayout="row" fxLayoutGap="10px">

                    <mat-form-field fxFlex="50">
                        <input matInput [placeholder]="componentLabels.title" formControlName="title">
                    </mat-form-field>

                </div>
            </form>
        </mat-card-content>
    </div>
</mat-card>
<div *ifPermitted="'evaluationSheets.findAllESSections'">
    <configuration-es-section-view *ngIf="loaded" [ESId]="evaluationSheet.id"></configuration-es-section-view>
</div>