<shared-overlay *ngIf="!loaded"> </shared-overlay>
<div class="message">
    <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
    <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
</div>
<div *ngIf="loaded">
    <div class="page-title">
        <h1>Add User to {{userGroup.groupName}}</h1>
    </div>

    <form (ngSubmit)="submit()" #form="ngForm">
        <div class="row">
            <div class="row-content">
                <mat-form-field>
                    <mat-select placeholder="Select User" name="user" [(ngModel)]="userGroup.userId" required>
                        <mat-option *ngFor="let user of users" [value]="user.id">{{user.username}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="buttons-row">
            <button mat-raised-button [disabled]="!form.valid" color="accent" type="submit">Assign</button>
            <button mat-raised-button mat-dialog-close tabindex="-1" type="button" (click)="onNoClick()">Cancel</button>
        </div>
    </form>
</div>