<div fxLayout *ifPermitted="'WFStateFlows.list'">
    <!-- <shared-overlay *ngIf="!loaded"> </shared-overlay> -->
    <mat-card fxFlex="100" class="mcard" *ngIf="loaded">
        <div>
            <mat-card-title class="mc-title">Work Flow Permission</mat-card-title>
            <div class="mc-action-btn">
                <a mat-icon-button (click)="addClick()" *ifPermitted="'WFStateFlows.create'">
                    <mat-icon matTooltip="Add Flow">add</mat-icon>
                </a>
            </div>
        </div>
        <mat-card-content>
            <div *ngFor="let row of roleWFStateFlow">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{row.WFId}}
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <a mat-icon-button (click)="editClick(row.WFId)" *ifPermitted="'WFStateFlows.create'">
                        <mat-icon matTooltip="Edit">edit</mat-icon>
                    </a>
                    <!-- <mat-table #table [dataSource]="dataSource">  -->


                    <!-- <ng-container matColumnDef="from">
                        <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="to">
                        <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
                    </ng-container> -->

<!-- 
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    </mat-table> -->

                </mat-expansion-panel>

            </div>

        </mat-card-content>
    </mat-card>
</div>