<mat-card *ifPermitted="'programDetails.find'">

    <shared-overlay *ngIf="!loaded"> </shared-overlay>

    <div *ngIf="loaded">
        <div fxFlex></div>
        <div class="top-buttons" *ngIf="pageAct == 'view'">
            <a matTooltip="Edit" [routerLink]="['/institute/programDetails']" mat-icon-button *ifPermitted="'programDetails.index'">
                <mat-icon>list</mat-icon>
            </a>
            <a [routerLink]="['/institute/programDetails/update', programDetail.id]" mat-icon-button *ifPermitted="'programDetails.update'">
                <mat-icon matTooltip="Edit">edit</mat-icon>
            </a>
            <a mat-icon-button (click)="deleteRecord(programDetail.id)" matTooltip="delete" *ifPermitted="'programDetails.delete'">
                <mat-icon>delete</mat-icon>
            </a>
        </div>
    </div>

    <mat-card-content *ngIf="loaded">
        <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">

            <div fxLayout="row" fxLayoutGap="10px">

                <!-- <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.id" formControlName="id">
                    <mat-error *ngIf="fg.get('id').hasError('required')">Id is required.</mat-error>
                    <mat-error *ngIf="fg.get('id').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                </mat-form-field> -->



                <mat-form-field fxFlex="50">
                    <mat-select [placeholder]="componentLabels.programId" formControlName="programId">
                        <mat-option *ngFor="let level of programs" [value]="level.id">
                            {{ level.name }}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="fg.get('programId').hasError('required')">Program is required.</mat-error>
                </mat-form-field>

                <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.name" maxlength="30" formControlName="name">
                    <mat-error *ngIf="fg.get('name').hasError('required')">Name is required.</mat-error>
                    <mat-error *ngIf="fg.get('name').hasError('maxlength')">Exceeding Maximum length.</mat-error>
                </mat-form-field>

                <!-- <mat-form-field fxFlex="50">
                    <input matInput [placeholder]="componentLabels.facultyId" formControlName="facultyId" v>
                    <mat-error *ngIf="fg.get('facultyId').hasError('required')">Faculty Id is required.</mat-error>
                </mat-form-field> -->

            </div>

            <div fxLayout="row" fxLayoutGap="10px">

            </div>

            <div *ngIf="pageAct != 'view'">
                <div *ifPermitted="'programDetails.create'">
                    <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                    <a *ngIf="pageAct == 'add'" color="accent" mat-raised-button [routerLink]="['/institute/programDetails']">Cancel</a>
                    <a *ngIf="pageAct == 'update'" color="accent" mat-raised-button [routerLink]="['/institute/programDetails/view', programDetail.id]">Cancel</a>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>