<mat-card>
    <mat-card-title>Registration Confirmation</mat-card-title>
    <mat-card-content>
        <h1>ThankYou</h1>
        <p>Donec sollicitudin maximus placerat. Vestibulum a libero et turpis tempor maximus. </p>
        <button class="back-button" mat-button routerLink="/home">Back to Home</button>

    </mat-card-content>
</mat-card>