<shared-overlay *ngIf="!loaded"> </shared-overlay>
<div class="message">
    <shared-cmat-success *ngIf="success" successMsg={{successMessage}}></shared-cmat-success>
    <shared-cmat-error *ngIf="error" errorMsg={{errorMessage}}></shared-cmat-error>
</div>
<div *ifPermitted="'WFStateFlows.findById'">
        <div *ngIf="loaded">
                <div class="dialog-title">
                    {{data.type}}
                </div>
                <form novalidate [formGroup]="fg" fxLayout="column" fxLayoutGap="10px" (ngSubmit)="saveData(fg.value)">
            
                    <div fxLayout="row" fxLayoutGap="10px">
            
                        <mat-form-field fxFlex="50">
                            <mat-select [placeholder]="componentLabels.fromId" formControlName="fromId">
                                <mat-option *ngFor="let state of wfState" [value]="state.id">{{state.state}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="fg.get('fromId').hasError('required') ">From is Required.</mat-error>
                        </mat-form-field>
            
                        <mat-form-field fxFlex="50">
                                <mat-select [placeholder]="componentLabels.toId" formControlName="toId">
                                    <mat-option *ngFor="let state of wfState" [value]="state.id">{{state.state}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="fg.get('toId').hasError('required') ">To is Required.</mat-error>
                            </mat-form-field>
            
                        
            
                    </div>
            
                    <div fxLayout="row" fxLayoutGap="10px">
                        <mat-form-field fxFlex="100">
                            <textarea matInput [placeholder]="componentLabels.description" rows="5" formControlName="description"></textarea>
                        </mat-form-field>
                    </div>
            
                    <div *ifPermitted="'WFStateFlows.create'">
                        <button mat-raised-button type="submit" [disabled]="fg.invalid" color="primary">Save</button>
                        <a color="accent" mat-raised-button (click)="onNoClick()">Cancel</a>
                    </div>
                </form>
            
            </div>
</div>
