<div class="sub-header" fxLayout="row">

    <div fxFlex class="page-title">
        <button mat-icon-button matTooltip="Previous" (click)="previous()" matTooltipPosition="above">
            <i class="material-icons">arrow_back</i>
        </button>
        <span>
            {{ pageTitle }}
        </span>
    </div>

    <div>
        <ol class="breadcrumb">

            <li *ngFor="let breadcrumb of breadcrumbs">
                <a [class.breadcrumb-disable]="!breadcrumb.url || breadcrumb.disable" [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
            </li>

        </ol>
    </div>
</div>