.active {
  background-color: #3f51b5;
  color: white;
}

a:hover {
  background-color: #919edd !important;
  color: black;
}

.active .material-icons {
  padding-right: 10px;
  color: white;
}

.material-icons {
  padding-right: 10px;
  color: #3f51b5;
}
mat-nav-list {
  padding-top: 0px;
  flex: 1 1 20%;
  min-width: 220px;
  max-width: 220px;
  border-right: 1px solid #e1e1e1;
  height: 100%;
}
